{% macro PaymentCheck(props) %}
    {% import 'scarfinity/template/components/currency.twig' as currency %}

    <div class="payments-check">
        <span class="payments-check__title">Итого</span>
        {{ currency.currency(
            { 'price': props.total, 'special': 0, 'subTitle': '' }, 
            { 'fontSize': 26, 'fontWeight': 600 }) 
        }}
    </div>

{% endmacro %}

{% macro BottomNavigation(props) %}
    {% import _self as _ %}

    <div class="cart__bottom-navigation{{props.orderTotal ? ' check' : ''}}">
        <div class="cart__bottom-navigation__left">
            <a id="cart-button-prev" class="cart__button-prev" href="{{props.prevHref}}"}>{{props.prevTitle}}</a>
        </div>
        {% if props.orderTotal %}
            <div class="cart__bottom-navigation__check">
                {{ _.PaymentCheck({total: props.orderTotal}) }}
            </div>
        {% endif %}
        <div class="cart__bottom-navigation__right">
            <a id="cart-button-next" class="cart__button-next" href="{{props.nextHref}}"}>{{props.nextTitle}}</a>
        </div>
    </div>    
{% endmacro %}