{% macro PaymentCheck(props) %}
    {% import 'scarfinity/template/components/currency.twig' as currency %}

    <div class="payments-check">
        <span class="payments-check__title">Итого</span>
        {{ currency.currency(
            { 'price': props.total, 'special': 0, 'subTitle': '' }, 
            { 'fontSize': 26, 'fontWeight': 600 }) 
        }}
    </div>

{% endmacro %}

{% macro BottomNavigation(props) %}
    {% import _self as _ %}
    {% import 'scarfinity/template/components/button.twig' as _button  %}

    <div class="cart__bottom-navigation{{props.orderTotal ? ' check' : ''}}">
        <div class="cart__bottom-navigation__left">
            <a id="cart-button-prev" class="cart__button-prev" href="{{props.prevHref}}"}>{{props.prevTitle}}</a>
        </div>
        <div class="cart__bottom-navigation__right">
            {{ _button.BasicButton({ chevron: 'right', id: 'cart-button-next', disabled: props.disabled }) }}
        </div>
        <div class="cart__bottom-navigation__check">
            {% if props.orderTotal %}
                {{ _.PaymentCheck({total: props.orderTotal}) }}
            {% endif %}
        </div>
    </div>    
{% endmacro %}