{# core import #}
{% import 'scarfinity/template/components/navigation/breadcrumbs.twig' as _breadcrumbs %}

{# import #}
{% import 'scarfinity/template/components/cart/header-navigation.twig' as headerNavigation %}
{% import 'scarfinity/template/components/cart/products.twig' as products %}
{% import 'scarfinity/template/components/cart/requisites.twig' as requisites %}
{% import 'scarfinity/template/components/cart/payments.twig' as _payments %}
{% import 'scarfinity/template/components/cart/bottom-navigation.twig' as bottomNavigation %}
{% import 'scarfinity/template/components/review.twig' as _review %}
{% import 'scarfinity/template/components/image-container.twig' as imageContainer %}


{% import 'scarfinity/template/components/utility/select-box.twig' as _selectBox %}
{% import 'scarfinity/template/components/utility/special-offer.twig' as _specialOffer %}
{% import 'scarfinity/template/components/utility/color-picker.twig' as _colorPicker %}
{% import 'scarfinity/template/components/utility/input-search.twig' as _inputSearch %}
{% import 'scarfinity/template/components/utility/_icons.twig' as _icons  %}
{% import 'scarfinity/template/components/utility/social-button.twig' as _socialButton  %}
{% import 'scarfinity/template/components/utility/value-switch.twig' as _valueSwitch  %}
{% import 'scarfinity/template/components/utility/drop-down.twig' as _dropDown  %}
{% import 'scarfinity/template/components/utility/price-range.twig' as _priceRange  %}
{% import 'scarfinity/template/components/utility/item-list.twig' as _itemList  %}
{% import 'scarfinity/template/components/button.twig' as _button  %}

{% import 'scarfinity/template/components/lib/currying.twig' as _currying %}

{{ header }}

{{ _breadcrumbs.Breadcrumbs({ breadcrumbs: breadcrumbs, topOffset: 0 }) }}
<div id="information-information" class="container">
  <div class="row s-content">

    {{ column_left }}

    <div id="content" class="s-content__middle s-content__middle--white">
      {{ content_top }}
      <h1>{{ heading_title }}</h1>
      {{ description }}
      {{ content_bottom }}
    </div>
    
  </div>
</div>
{{ footer }}



{# <h1>API</h1>
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<script type="text/javascript">

    var api_token = null;

    function login(callback) {
        // console.log(document.cookie);

      $.ajax({
          url: 'index.php?route=api/login&api_token=',
          type: 'post',
          dataType: 'json',
          data: {
            session_id: '1521028e3cc884f6430f3e7144',
            username: 'Default',
            key: 'Qh910eQ7JtRCkqBfCmRpvop4zaz1rYqx66eNZAITeF70nqzfgVHZWOkGRkDrSSfIEysG5Ysz6NvawAkbS1gdUe1QVxvLEOockRHJYN2ynOKuRsVFFjZCWIbisw7H5YVpOl6GmHJuGvnTqQqnG0tgBX6hW5LYhgfw9MlLTGMjh9SHLDT4Y4hUrhuShPdKsPKNPYp8Z2R86j8mSeYtQoX0U82FSc5jR9Ll67q3MCzlbQM2d0Wn9sWvuJh2w2BTDL6a'
          },
          beforeSend: function() {
            console.log('begin');
          },
          success: function(json) {
              console.log('success', json);
              callback(json['api_token']);
          },
          error: function(xhr, ajaxOptions, thrownError) {
            console.log('error', xhr, ajaxOptions, thrownError);
          },
          complete: function() {

          }
      });
    }

    function getProducts(api_token) {
        $.ajax({
            url: 'index.php?route=api/cart/products&api_token=' + api_token,
            type: 'post',
            dataType: 'json',
            data: {

            },
            success: function(json) {
                console.log(json);
            }
        });
    }
    getProducts('1521028e3cc884f6430f3e7144'); #}

    {# login(function(api_token) {
        getProducts(api_token);
    }); #}

{# </script> #}




