{# {{ header }}
<div id="information-information" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {{ description }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }} #}

{# core import #}
{% import 'scarfinity/template/components/navigation/breadcrumbs.twig' as _breadcrumbs %}

{# import #}
{% import 'scarfinity/template/components/cart/header-navigation.twig' as headerNavigation %}
{% import 'scarfinity/template/components/cart/products.twig' as products %}
{% import 'scarfinity/template/components/cart/requisites.twig' as requisites %}
{% import 'scarfinity/template/components/cart/payments.twig' as _payments %}
{% import 'scarfinity/template/components/cart/bottom-navigation.twig' as bottomNavigation %}
{% import 'scarfinity/template/components/review.twig' as _review %}
{% import 'scarfinity/template/components/image-container.twig' as imageContainer %}


{% import 'scarfinity/template/components/utility/select-box.twig' as _selectBox %}
{% import 'scarfinity/template/components/utility/color-picker.twig' as _colorPicker %}
{% import 'scarfinity/template/components/utility/input-search.twig' as _inputSearch %}
{% import 'scarfinity/template/components/utility/_icons.twig' as _icons  %}
{% import 'scarfinity/template/components/utility/social-button.twig' as _socialButton  %}
{% import 'scarfinity/template/components/utility/value-switch.twig' as _valueSwitch  %}
{% import 'scarfinity/template/components/utility/drop-down.twig' as _dropDown  %}
{% import 'scarfinity/template/components/utility/price-range.twig' as _priceRange  %}
{% import 'scarfinity/template/components/utility/item-list.twig' as _itemList  %}
{% import 'scarfinity/template/components/button.twig' as _button  %}

{% import 'scarfinity/template/components/lib/currying.twig' as _currying %}

{{ header }}

{{ _breadcrumbs.Breadcrumbs({ breadcrumbs: breadcrumbs, topOffset: 0 }) }}
<div id="information-information" class="container">
  <div class="row s-content">

    {{ column_left }}

    <div id="content" class="s-content__middle">
      {{ content_top }}
      <h1>{{ heading_title }}</h1>
      {{ description }}
      {{ content_bottom }}
    </div>
    
  </div>
</div>
{{ footer }}




