{# {{ header }}
<div id="information-information" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {{ description }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }} #}

{# core import #}
{% import 'scarfinity/template/components/navigation/breadcrumbs.twig' as _breadcrumbs %}

{# import #}
{% import 'scarfinity/template/components/cart/header-navigation.twig' as headerNavigation %}
{% import 'scarfinity/template/components/cart/products.twig' as products %}
{% import 'scarfinity/template/components/cart/requisites.twig' as requisites %}
{% import 'scarfinity/template/components/cart/payments.twig' as _payments %}
{% import 'scarfinity/template/components/cart/bottom-navigation.twig' as bottomNavigation %}
{% import 'scarfinity/template/components/review.twig' as _review %}


{% import 'scarfinity/template/components/utility/select-box.twig' as _selectBox %}
{% import 'scarfinity/template/components/utility/color-picker.twig' as _colorPicker %}
{% import 'scarfinity/template/components/utility/input-search.twig' as _inputSearch %}
{% import 'scarfinity/template/components/utility/_icons.twig' as _icons  %}

{{ header }}

{{ _breadcrumbs.Breadcrumbs({ breadcrumbs: breadcrumbs, topOffset: 0 }) }}

<hr>
{{ _inputSearch.InputSearch({ placeholder: 'Search.....' }) }}

<hr>

{{ footer }}







{% if false %}



<div>
  {{ pagination }}
</div>

{{ _review.ReviewsContainer() }}
<hr>
<div>
  {% for item in 0..15 %}
    <label class="tr-34">
      <input type="radio" name="aa" value="{{item}}">
      <span></span>
    </label>
  {% endfor %}
</div>
<script type="text/javascript">
  $('.tr-34').on('mouseover', function(e) {
    var r = $(this).find('input[type="radio"]');
    if(r != null) {
      r.prop( "checked", true );
    }
  });
</script>
<hr>
<div style="padding: 40px; border: 1px solid #ccc;">
  {{_colorPicker.ColorPickerItem({})}}
  {{_colorPicker.ColorPickerItem({checked: true})}}
  {{_colorPicker.ColorPickerItem({checked: false, disabled: true})}}
  {{_colorPicker.ColorPickerItem({checked: true, disabled: true})}}
</div>
{{_colorPicker.ColorPicker({ type: 'radio', colors: 0..9 })}}
<hr>
{{ _selectBox.Radio({ name: '00', label: '00' }) }}
{{ _selectBox.Radio({ name: '00', label: '01' }) }}
{{ _selectBox.Radio({ name: '00', label: '02' }) }}
<hr>
<div id="cart" class="container">
  <div class="row">
    <div>
      <button data-step="1">1</button>
      <button data-step="2">2</button>
      <button data-step="3">3</button>
    </div>
    <div class="cart">
      {{ headerNavigation.HeaderNavigation({step:'1'})}}
      {{ products.products() }}
      {{ requisites.requisites() }}
      {{ _payments.Payments() }}
      {{ bottomNavigation.BottomNavigation({ orderTotal: 1500 }) }}
      <div id="id1">{{ Data }}</div>
      <div class="ttt" data-step="10"></div>
    </div>
  </div>
</div>

<script type="text/javascript">

  var state = {
    step: 0
  };

  $('#cart button').click(function(e) {
    var step = $(e.currentTarget).data('step');
    $('.cart__header-navigation').attr('data-step', step);
    $('.cart-header-navigation-item').removeClass('active');
    $('.cart-header-navigation-item[data-value=' + step + ']').addClass('active');
  });

</script>

{% endif %}