<div class="left-menu">
  {% for category in categories %}
  {% if category.category_id == category_id %} 
  <a href="{{ category.href }}" class="left-menu__item active">{{ category.name }}</a> 
  {% if category.children %}
  {% for child in category.children %}
  {% if child.category_id == child_id %}
  <div class="left-menu__item__sub-item active">
    <a href="{{ child.href }}">{{ child.name }}</a> 
  </div>
  {% else %} 
  <div class="left-menu__item__sub-item">
    <a href="{{ child.href }}">{{ child.name }}</a>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% else %} <a href="{{ category.href }}" class="left-menu__item">{{ category.name }}</a> 
  {% endif %}
  {% endfor %}
</div>