{% import 'scarfinity/template/components/module/filter.twig' as _filter %}

<div id="layout-filters">
  <div id="filters" class="panel panel-default">
    <div class="panel-heading">{{ heading_title }}</div>
      <div class="list-group">
        {# {{ _filter.PriceRange({ name: 'Цена за 1 еденицу (опт)', pmin: pmin, pmax: pmax }) }} #}
        {% for filter_group in filter_groups %}
          {% set filterName = filter_group.name|lower %}
          {% if filterName == "colors" %}
            {{ _filter.ColorFilter({ filters: filter_group.filter, filterCategory: filter_category }) }}
          {% else %}
            {{ _filter.SeasonFilter({ name: filter_group.name, filters: filter_group.filter, filterCategory: filter_category }) }}
          {% endif %}
        {% endfor %}
      </div>
    <div class="panel-footer">
      <button type="button" id="button-filter" class="btn btn-primary">{{ button_filter }}</button>
    </div>
  </div>
</div>
