<div class="left-menu white">
  {% for information in informations %}
    <a href="{{ information.href }}" class="left-menu__item">{{ information.title }}</a> 
  {% endfor %}
  <a href="{{ contact }}" class="left-menu__item">{{ text_contact }}</a> 
  <a href="{{ sitemap }}" class="left-menu__item">{{ text_sitemap }}</a> 
</div>