{# core import #}
{% import 'scarfinity/template/components/navigation/breadcrumbs.twig' as _breadcrumbs %}

{# import #}
{% import 'scarfinity/template/components/cart/header-navigation.twig' as headerNavigation %}
{% import 'scarfinity/template/components/cart/price-calculation.twig' as _priceCalculation %}
{% import 'scarfinity/template/components/cart/payments.twig' as _payments %}
{% import 'scarfinity/template/components/cart/bottom-navigation.twig' as _bottomNavigation %}
{% import 'scarfinity/template/components/cart/radio-box-group.twig' as _radioBoxGroup %}
{% import 'scarfinity/template/components/utility/select-box.twig' as _selectBox %}

{{ header }}
{{ _breadcrumbs.Breadcrumbs({ breadcrumbs: breadcrumbs, topOffset: 0 }) }}
<div id="checkout-checkout" class="container">
    <div class="row">
        <div class="col-md-12 col-sm-no-padding">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div id="cart" class="container">
          <div class="row">
            <h1>{{ heading_title }}</h1>
            <br>
            <div class="cart">
                {{ headerNavigation.HeaderNavigation({ step:'2' }) }}
                <div id="checkout-errors"></div>
                <div class="requisites" id="cart-checkout-requisites">
                    <div class="requisites-row row">
                        <div class="col-md-6 col-sm-12">
                            <span class="requisites-title"><b>Состав </b>заказа</span>
                            {{ _priceCalculation.priceCalculation({ productsTotal: 0, deliveryTotal: 0 }) }}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <span class="requisites-title"><b>Контактная </b>информация</span>
                            <div id="cart-checkout-requisites-login"></div>
                        </div>
                        <div class="requisites-row__delim hidden-sm"></div>
                    </div>
                </div>
              {{
                _bottomNavigation.BottomNavigation({
                  prevHref: continue,
                  prevTitle: button_shopping,
                  nextTitle: button_checkout,
                  disabled: true
                })
              }}
            </div>
          </div>
        </div>
        </div>
    </div>
</div>

{# Первоначальная загрука #}
{# Если пользователь не залогинен, вывести форму для ввода(регистрации) #}
{# нового пользователя #}
{# Если пользователь зарегистрирован, вывести форму #}
{# с данными о данном заказчике с возможностью изменения #}
<script type="text/javascript">
    $.ajax({
        url: 'index.php?route=checkout/login',
        dataType: 'html',
        beforeSend: function() {},
        success: function(html) {
            $('#cart-checkout-requisites-login').html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        },
        complete: function() {
            $('#cart-button-next').prop('disabled', false);
        }
    });
</script>

{# UI Delegate #}
<script type="text/javascript">
    $(document).delegate('#checkout-checkout .sInput', 'input', function(e) {
        var target = e.target;
        var group = $(target).data('group');
        var name = target.name;
        var value = target.value;

        if(checkout[group]) {
            checkout[group][name] = value;
        }
    });

    $(document).delegate('#checkout-checkout .select-box input', 'change', function(e) {
        var target = $(this);
        var type = target.attr('type');
        var group = target.data('group');
        var form = target.data('form');
        var name = target.attr('name');
        var value = target.val();
        var checked = target.attr('checked');
        console.log('[select-box]', type, name, value, checked);

        if(checkout[group]) {
            if(type == 'radio') {
                checkout[group][name] = value; 

                if(group == 'shipping_method' && ui) {
                    ui.shippingMethodChange(form, value);
                }
            }

            if(type == 'checkbox') {
                checkout[group][name] = target.prop('checked');
            }
        }
    });

    $(document).delegate('#checkout-checkout .sDropdown select', 'change', function() {
        var target = $(this);
        var name = target.attr('name');
        var group = target.data('group');
        var value = target.val();
    
        if(checkout[group]) {
            checkout[group][name] = value;
        }
    });

    $(document).delegate('#button-login', 'click', function() {
        if(typeof ui) {
            ui.customerLogin();
        }
    });
</script>

{# Form events #}
<script type="text/javascript">
    var ui = {
        customerLogin: function() {
            var ui = this;

            if(checkout) {
                checkout.customerLogin({
                    beforeSend: ui.beforeSend('cart-checkout-login-login', function() {}),
                    success: function() {},
                    error: ui.displayErrors(function(errors) {})
                });
            }
        },
        customerSave: function() {
            var ui = this;
            
            if(checkout) {
                checkout.customerSave({
                    beforeSend: ui.beforeSend('cart-checkout-requisites', function() {
                        $('#cart-button-next').prop('disabled', true);
                    }),
                    success: function(json) {
                        location = json['continue'];
                    },
                    error: ui.displayErrors(function(errors) {
                        $('#cart-button-next').prop('disabled', false);
                    })
                });
            }
        },
        beforeSend: function(containerId, callback) {
            var ui = this;

            ui.container = $('#' + containerId);
            $(ui.container).find('.sInput-error').remove();
            $(ui.container).find('.sInput--error').removeClass('sInput--success sInput--error sInput--validate');

            if(callback) callback();
        },
        displayErrors: function(callback) {
            var ui = this;

            return function(errors) {
                _.forIn(errors, function(error, name) {
                    $(ui.container).find('input[type!="checkbox"][name$="' + name +'"], div[data-name$="' + name + '"]')
                        .addClass('sInput--error')
                        .after('<p class="sInput-error">' + error + '</p>');

                    $(ui.container).find('input[type="checkbox"][name$="' + name + '"], select[name$="' + name + '"]')
                        .addClass('sInput--error')
                        .parents('.select-box, .sInput-container')
                        .append('<p class="sInput-error">' + error + '</p>');
                });

                if(callback) callback(errors);
            }
        }
    };

    // Сохранение информации о пользователе
    $('#cart-button-next').on('click', function() {
        ui.customerSave();
    });

</script>
{# Form events end #}

{{ footer }}