{% import 'scarfinity/template/components/utility/nav-tab.twig' as _navTab %}
{% import 'scarfinity/template/components/utility/basic-input.twig' as basicInput %}

{% set tabAnonymousContent %}
    <p>Введите имя и номер телефона. На указанный номер придет смс с паролем к личному кабинету.</p>
    {{ 
        basicInput.basicInput({
            label: entry_firstname,
            value: firstname,
            name: 'firstname',
            group: 'customer',
            type: 'text',
            placeholder: entry_firstname,
            required: true
        })
    }}
    {# {{ 
        basicInput.basicInput({
            label: entry_lastname,
            value: lastname,
            name: 'lastname',
            group: 'customer',
            type: 'text',
            placeholder: entry_lastname,
            required: true
        })
    }} #}
    {{ 
        basicInput.basicInput({
            label: entry_telephone,
            value: telephone,
            name: 'telephone',
            group: 'customer',
            type: 'phone',
            placeholder: entry_telephone,
            required: true
        })
    }}
    {# {{ 
        basicInput.basicInput({
            label: entry_email,
            value: email,
            name: 'email',
            group: 'customer',
            type: 'email',
            placeholder: entry_email
        })
    }} #}
{% endset %}

{% set tabRegisteredContent %}
    <p>{{ text_i_am_returning_customer }}</p>
    <input type="hidden" name="warning" />
    {{ 
        basicInput.basicInput({
            label: entry_telephone,
            value: '',
            name: 'telephone',
            group: 'login',
            type: 'phone',
            placeholder: entry_telephone,
            required: true
        })
    }}
    {{ 
        basicInput.basicInput({
            label: entry_password,
            value: '',
            name: 'password',
            group: 'login',
            type: 'password',
            placeholder: entry_password,
            required: true
        })
    }}
    <a href="{{ forgotten }}">{{ text_forgotten }}</a>
    <input type="button" value="{{ button_login }}" id="button-login" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
{% endset %}

{% if customer_status == 'logged' %}
    <p>Вы уже зарегистрированны в системе!</p>
    {{ 
        basicInput.basicInput({
            label: entry_firstname,
            value: customer.firstname,
            name: 'firstname',
            group: 'customer',
            type: 'text',
            placeholder: 'Фамилия',
            disabled: true
        })
    }}
    {# {{ 
        basicInput.basicInput({
            label: entry_lastname,
            value: customer.lastname,
            name: 'lastname',
            group: 'customer',
            type: 'text',
            placeholder: 'Имя',
            disabled: true
        })
    }} #}
    {{ 
        basicInput.basicInput({
            label: entry_telephone,
            value: customer.telephone,
            name: 'telephone',
            group: 'customer',
            type: 'phone',
            placeholder: 'Телефон +7(',
            disabled: true
        })
    }} 
    {# {{ 
        basicInput.basicInput({
            label: entry_email,
            value: customer.email,
            name: 'email',
            group: 'customer',
            type: 'email',
            placeholder: 'E-mail',
            disabled: true
        })
    }} #}

    <script type="text/javascript">
        var inputs = $('.sInput[data-group="customer"]').each(function() {
            switch($(this).attr('name')) {
            case 'firstname': $(this).val('{{customer.firstname}}').trigger('input'); break;
            case 'lastname': $(this).val('{{customer.lastname}}').trigger('input'); break;
            case 'telephone': $(this).val('{{customer.telephone}}').trigger('input'); break;
            case 'email': $(this).val('{{customer.email}}').trigger('input'); break;
            }
        });
    </script>

{% else %}
    {{ 
        _navTab.NavTab({id: 'cart-checkout-login', tabs: [
            { id: 'guest', title: text_new_customer, content: tabAnonymousContent }, 
            { id: 'login', title: 'У меня есть аккаунт', content: tabRegisteredContent }
        ]})
    }} 
{% endif %}
