{% import 'scarfinity/template/components/utility/basic-input.twig' as basicInput %}
{% import 'scarfinity/template/components/utility/drop-down.twig' as _dropDown %}

<div class="requisites-postal-line row">
    {% set options = [] %}
    {% for country in countries %}
      {% set option = {
          href: country.country_id,
          text: country.name
        } 
      %}
      {% set options = options|merge([option]) %}
    {% endfor %}
    <div class="col-md-12">
        {{
        _dropDown.DropDown({
            label: entry_country,
            name: 'country_id',
            id: 'input-shipping-country',
            group: 'shipping_address',
            head: text_select,
            options: options,
            required: true
        })
        }}
    </div>
    <div class="col-md-12">
        {{ 
            basicInput.basicInput({
                label: entry_city,
                value: '',
                valid: true,
                name: 'city',
                group: 'shipping_address',
                type: 'text',
                placeholder: "Введите адрес",
                required: true
            })
        }}
        {{ 
            basicInput.basicInput({
                label: entry_address_1,
                value: '',
                valid: true,
                name: 'address_1',
                group: 'shipping_address',
                type: 'text',
                placeholder: "Введите адрес"
            })
        }}
        {{ 
            basicInput.basicInput({
                value: '',
                valid: true,
                name: 'address_2',
                type: 'hidden',
                placeholder: ''
            })
        }}
        {{ 
            basicInput.basicInput({
                value: '120',
                valid: true,
                name: 'zone_id',
                type: 'hidden',
                placeholder: ''
            })
        }}
    </div>
    <div class="col-md-5">
        {{ 
            basicInput.basicInput({
                label: entry_postcode,
                value: '888888',
                valid: true,
                name: 'postcode',
                group: 'shipping_address',
                type: 'text',
                placeholder: 'Индекс'
            })
        }}
    </div>
    <div class="col-md-7">
        <p class="requisites-annotaion">
            Обязательно проверте, правельно ли определен
            <span class="accent">индекс</span>
            . Если индекс не определился, введите его сами.
        </p>
    </div>
    <div>
      {{ 
          basicInput.basicInput({
              value: 'scarfinity-firstname',
              valid: true,
              name: 'firstname',
              type: 'hidden',
              placeholder: ''
          })
      }}
      {{ 
          basicInput.basicInput({
              value: 'scarfinity-lastname',
              valid: true,
              name: 'lastname',
              type: 'hidden',
              placeholder: ''
          })
      }}
      {{ 
          basicInput.basicInput({
              value: 'scarfinity-lastname',
              valid: true,
              name: 'company',
              type: 'hidden',
              placeholder: ''
          })
      }}
    </div>
</div>

<script type="text/javascript">
  $('#input-shipping-country').change(function() {
    var target = $(this);
    var value = target.val();

    if($.kladr) {
      if(value == 176) {
        $('.sInput[data-group="shipping_address"][name$="city"]').kladr({
            type: $.kladr.type.city,
            select: function(obj) {
                console.log(obj);
                $(this).trigger('input');
            }
        });
      } else {
        $('.sInput[data-group="shipping_address"][name$="city"]').kladr = undefined;
      }
    }
  });
</script>

<script type="text/javascript">
  $('#input-shipping-country option[value=' + "{{country_id}}" + ']').attr('selected', 'true').trigger('change');

  var inputs = $('.sInput[data-group="shipping_address"]').each(function() {
    switch($(this).attr('name')) {
      case 'country_id': $(this).val('{{country_id}}').trigger('input'); break;
      case 'city': $(this).val('{{city}}').trigger('input'); break;
      case 'address_1': $(this).val('{{address_1}}').trigger('input'); break;
      case 'postcode': $(this).val('{{postcode}}').trigger('input'); break;
    }
  });
</script>
