{% import 'scarfinity/template/components/utility/select-box.twig' as _selectBox %}
{% import 'scarfinity/template/components/currency.twig' as _currency %}
{% import 'scarfinity/template/components/utility/basic-input.twig' as basicInput %}
{% import 'scarfinity/template/components/utility/drop-down.twig' as _dropDown %}

{% if error_warning %}
    <div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if shipping_methods %}
    <div class="radio-box-group" data-name="shipping_methods">
        <span class="radio-box-group__title">{{ text_shipping_method }}</span>
        {% for shipping_method in shipping_methods %}
            <strong class="radio-box-group__sub-title">{{ shipping_method.title }}</strong>
            {% if not shipping_method.error %}
                {% for quote in shipping_method.quote %}
                    <label class="radio-box-group__item" for="{{quote.code}}">
                        {{
                            _selectBox.Radio({
                                group: 'shipping_method',
                                name: 'shipping_method',
                                value: quote.code,
                                id: quote.code,
                                label: quote.title
                            }) 
                        }}
                        {{
                            _currency.Currency(
                                { 'price': quote.text, 'subTitle': '' }, 
                                { 'fontSize': 15, 'fontWeight': 600 }
                            )
                        }}
                    </label>
                {% endfor %}
            {% else %}
                <div class="alert alert-danger alert-dismissible">{{ shipping_method.error }}</div>
            {% endif %}
        {% endfor %}
    </div>
    <br />

    {{
        basicInput.basicInput({
            label: entry_address_1,
            value: '',
            hidden: true,
            name: 'address_1',
            group: 'shipping_address',
            code: 'shipping.flat.flat',
            type: 'text',
            required: true,
            placeholder: "Введите адрес"
        })
    }}

    {% set options = [] %}
    {% for location in locations %}
      {% set option = {
          href: location.name,
          text: location.name
        } 
      %}
      {% set options = options|merge([option]) %}
    {% endfor %}
    {{
        _dropDown.DropDown({
            label: entry_locataion,
            hidden: true,
            name: 'address_1',
            group: 'shipping_address',
            code: 'shipping.pickup.pickup',
            head: text_select,
            options: options,
            required: true
        })
    }}

{% endif %}


<script type="text/javascript">
    var code = '{{code}}';
    $('.select-box input[type="radio"][name$="shipping_method"]').each(function(t) {
        if($(this).val() == code) {
            $(this).attr('checked', 'checked').prop("checked", true).change();
        }
    });
</script>
