{# core import #}
{% import 'scarfinity/template/components/navigation/breadcrumbs.twig' as _breadcrumbs %}

{# components import #}
{% import 'scarfinity/template/components/product-card/product-card-list-card.twig' as _productCardListCard %}
{% import 'scarfinity/template/components/category-product-card.twig' as _categoryProductCard %}
{% import 'scarfinity/template/components/catalog/catalog-header.twig' as _catalogHeader %}

{{ header }}

{{ _breadcrumbs.Breadcrumbs({breadcrumbs: breadcrumbs}) }}

<div id="product-catalog" class="container">
  <div class="row">
    <div class="col-md-3">
      {{ column_left }}
    </div>

    <div id="content" class="col-md-9">
      {{ content_top }}

      <div class="row align-items-center">

          <h1 class="flex-grow-1 px-2">{{ heading_title }}</h1>

          <div class="p-2 ml-auto mr-auto bd-highlight">
            <div class="value-switch">
              <div class="value-switch__items">
                <label>
                    <input type="radio" name="ss-col-sort" value="ss-col-one" />
                    <span class="value-switch__item"><i class="fa fa-th-list"></i></span>
                </label>
                {# <label>
                    <input type="radio" name="ss-col-sort" value="ss-col-two" checked />
                    <span class="value-switch__item"><i class="fa fa-th-large"></i></span>
                </label> #}
                <label>
                    <input type="radio" name="ss-col-sort" value="ss-col-three" checked />
                    <span class="value-switch__item"><i class="fa fa-th"></i></span>
                </label>
              </div>
            </div>
          </div> 

      </div>

      {% for category in categories %}
        <div class="catalog-subheader-delim">
          <h3><a href="{{ category.href }}">{{ category.name }}</a><span>({{ category.product_total }})</span></h3>
        </div>

        <div class="row ss-product-card-list ss-col-three">
        {% for product in category.products %}

            {{ _productCardListCard.productCardListCard(product) }}

          {% endfor %}
        </div>
      {% endfor %}

      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>


{{ footer }} 
