{% import 'scarfinity/template/components/category-product-card.twig' as _categoryProductCard %}
{% import 'scarfinity/template/components/navigation/pagination.twig' as _pagination %}
{% import 'scarfinity/template/components/lib/currying.twig' as _currying %}

{% for product in products %}
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 product-card-catalog-container">
        {{ _categoryProductCard.categoryProductCard(product, { buttonLabel: button_cart }) }}
    </div>    
{% endfor %}

<div id="competitor" class="col-xs-12" style="text-align: center;">
    <div class="catalog-footer">
        <div class="catalog-footer__results">
            {% if next_href %}
                <button class="catalog-fetch-button" id="fetch" onclick="fetch('{{next_href}}')">
                    <i class="fa fa-spinner" aria-hidden="true"></i>
                    <span>Показать еще {{ pagination_data['limit'] }} из {{ pagination_data['product_total'] }} {{ _currying.__('products', pagination_data['product_total']) }}</span>
                </button>
            {% else %}
                <span>Показаны все товары в данной категории</span> 
            {% endif %}
        </div>
        {% if next_href %}
            <div class="catalog-footer__pagination">
                {{_pagination.Pagination(pagination_data)}}
            </div>
        {% endif %}
    </div>
</div>
