{% import 'scarfinity/template/components/navigation/pagination.twig' as _pagination %}
{% import 'scarfinity/template/components/navigation/breadcrumbs.twig' as _breadcrumbs %}
{% import 'scarfinity/template/components/category-product-card.twig' as _categoryProductCard %}
{% import 'scarfinity/template/components/utility/value-switch.twig' as _valueSwitch  %}
{% import 'scarfinity/template/components/utility/basic-input.twig' as basicInput %}
{% import 'scarfinity/template/components/utility/drop-down.twig' as _dropDown %}

{{ header }}

{{ _breadcrumbs.Breadcrumbs({breadcrumbs: breadcrumbs}) }}


{% set search_block %}

      <div class="row align-items-center bd-highlight mb-3">
        <div class="flex-grow-1 px-2">
          {{
              basicInput.basicInput({
                  id: 'input-search',
                  value: search,
                  name: 'search',
                  type: 'text',
                  placeholder: text_keyword,
              })
          }}
        </div>
        <div class="mx-3">
          {% set options = [] %}
          {% for category_1 in categories %}
            {% set options = options|merge([{ value: category_1.category_id, text: category_1.name }]) %}
              {% for category_2 in category_1.children %}
                {% set options = options|merge([{ value: category_2.category_id, text: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" ~ category_2.name }]) %}
                  {% for category_3 in category_2.children %}
                    {% set options = options|merge([{ value: category_3.category_id, text: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" ~ category_3.name }]) %}
                  {% endfor %}
              {% endfor %}
          {% endfor %}

          {{
            _dropDown.Dropdown({
              name: "category_id",
              title: text_sort,
              head: 'Категория',
              options: options,
              selectedValue: category_id
            })
          }}
 
        </div>
        <div class="px-2">
          <input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary" />
        </div>
      </div>
{% endset %}

<div id="product-category" class="container">
  <div class="row">
    <div class="col-md-3">
    {{ column_left }}
    </div>

    <div id="content" class="col-md-9">
      <div class="row">
        <div class="col-12 px-2">
          {{ content_top }}
          <h1>{{ heading_title }}</h1>
        </div>
      </div>

      {{ search_block }}

      {% if products %}
      <div class="row bd-highlight mb-3">
        <div class="p-2 bd-highlight">
          {{
            _dropDown.Dropdown({
              id: "input-sort",
              title: text_sort,
              options: sorts,
              selectedValue: '%s-%s'|format(sort, order)
            })
          }}
        </div>
        <div class="p-2 ml-auto mr-auto bd-highlight">
          <div class="value-switch">
            <div class="value-switch__items">
              <label>
                  <input type="radio" name="ss-col-sort" value="ss-col-one" />
                  <span class="value-switch__item"><i class="fa fa-th-list"></i></span>
              </label>
              {# <label>
                  <input type="radio" name="ss-col-sort" value="ss-col-two" checked />
                  <span class="value-switch__item"><i class="fa fa-th-large"></i></span>
              </label> #}
              <label>
                  <input type="radio" name="ss-col-sort" value="ss-col-three" checked />
                  <span class="value-switch__item"><i class="fa fa-th"></i></span>
              </label>
            </div>
          </div>

        </div>
        <div class="p-2 bd-highlight">
          {{ 
            _valueSwitch.ValueSwitch({
              name: "input-limit",
              title: text_limit,
              values: limits,
              selectedValue: limit
            })
          }}
        </div>
      </div>

      {% include 'scarfinity/template/product/products.twig' ignore missing %}

      {#<p class="pagination">
        <a class="pagination__next" href="{{next_href}}">Next page</a>
      </p> #}

      {% else %}
        <p>К сожалению, по запросу "{{search}}" ничего не найдено :(</p>
        <div class="buttons">
          <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
        </div>
      {% endif %}

      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

{# <div class="ss-page-description">
  <div class="container">
    <div class="row">
      <div class="col-12 px-2"><h2>{{ heading_title }}</h2></div>
      {% if description %}
          <div class="col-12 px-2">{{ description }}</div>
      {% endif %}
    </div>
  </div>
</div> #}

{{ footer }} 
