{% macro SideBestseller(props) %}
    {% import 'scarfinity/template/components/module/filter.twig' as _filter %}
    {% import 'scarfinity/template/components/utility/mini-product-card.twig' as _miniProductCard %}

    {% set children %}
        {% for product in props.products %}
            {{
                _miniProductCard.MiniProductCard(product)
            }}
        {% endfor %}
    {% endset %}

    {{ 
        _filter.FilterBlock({
            title: props.heading_title,
            buttonTitle: props.allTitle,
            children: children
        }) 
    }}
{% endmacro %}

{% macro ListBestseller(props) %}
    {% import 'scarfinity/template/components/product-card/product-card-list-card.twig' as _productCardListCard %}

    <h3>{{ props.heading_title }}</h3>

    <div class="row ss-product-card-list ss-col-three" id="catalog-product-card-list">
        {% for product in props.products %}
            {{ _productCardListCard.productCardListCard(product) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro Bestseller(props) %}
    {% import _self as _ %}
    {% if props.name        == 'side' %}    {{ _.SideBestseller(props.data) }}
    {% elseif props.name    == 'list' %}    {{ _.ListBestseller(props.data) }}
    {% endif %}
{% endmacro %}