{% import 'scarfinity/template/components/image-container.twig' as _imageContainer %}
{% import 'scarfinity/template/components/currency.twig' as _currency %}
{% import 'scarfinity/template/components/lib/currying.twig' as _currying %}
{% import 'scarfinity/template/components/utility/_icons.twig' as _icons %}

{% set footer %}
    <div class="cart-popup__footer">
        {% for total in totals %}
            <div class="cart-popup__footer__total">
                <span class="cart-popup__footer__total__title">{{total.title}}:</span>
                {{_currency.Currency({ price: total.text }, { fontWeight: 500, fontSize: 15 })}}
            </div>
        {% endfor %}
        <div class="cart-popup__footer__buttons">
            <a href="{{ cart }}" class="cart-popup__footer__buttons__cart">
                {{_icons.CartBasket({size: 15})}}
            </a>
            <a href="{{ checkout }}" class="cart-popup__footer__buttons__checkout">
                <span>{{ text_checkout }}</span>
                {{_icons.ChevronRight({size: 12})}}
            </a>
        </div>
    </div>
{% endset %}

{% set lines %}
    {% for product in products %}
        {% set image %}
            {% for option in product.option %}
                {{ 
                    _imageContainer.imageContainer({
                        src: option.image,
                        alt: props.product.title ~ ' - ' ~ option.value,
                        name: props.product.name ~ ' - ' ~ option.value
                    }) 
                }}
            {% endfor %}
        {% endset %}

        <div class="cart-popup__item">
            <div class="cart-popup-product-card">
                <div class="cart-popup-product-card__image">
                    {{
                    _imageContainer.imageContainer({
                        src: product.image,
                        alt: product.title,
                        name: product.name
                    }) 
                }}
                </div>
                <div class="cart-popup-product-card__content">
                    <a href="{{product.href}}" class="cart-popup-product-card__content__title">
                        {{product.name}}
                    </a>
                    <div class="cart-popup-product-card__content__info">
                        <span class="cart-popup-product-card__content__info__quantity">
                            {{product.quantity}}
                        </span>
                        <div class="cart-popup-product-card__content__info__delim">&#215;</div>
                        {{product.price}}
                        {# {{_currency.Currency({ price: { price: product.total } })}} #}
                    </div>
                </div>
                <button class="cart-popup-product-card__button" type="button" onclick="sCart.removeBy('{{ product.cart_id }}');">
                    {{_icons.Cancel({size: 18})}}
                </button>
            </div>
        </div>
    {% endfor %}
{% endset %}

<button class="cart-button">
    {{_icons.CartBasket({size: 15})}}
    <div class="cart-button__content">
        <span id="cart_title">{{cart_info.items_count}}
            {{_currying.__('product', cart_info.items_count)}}</span>
        в корзине
    </div>
    <div class="cart-button__icon">{{_icons.BaselineArrowForward({size: 18})}}</div>
</button>
<div class="cart-popup__container pr-3">
    <div class="cart-popup">
        {{lines}}
        {{footer}}
    </div>
</div>
