{% import 'scarfinity/template/components/utility/social-button.twig' as _socialButton  %}
{% import 'scarfinity/template/components/image-container.twig' as _imageContainer %}
{% import 'scarfinity/template/components/utility/mail-line.twig' as _mainLine  %}

<div style="margin-top: 26px;"></div>
{{ _mainLine.MainLine() }}
<footer>
  <div class="container">
    <div class="row footer-greed">

        <div class="footer-menu footer-menu--social">
          <div>LOGO</div>
          <div class="footer-social">
            <span class="footer-social__title">Мы в соц.сетях</span>
            {{ _socialButton.SocialButton({ icon: 'IG', href: 'https://www.instagram.com/scarfinity.ru' }) }}
            {{ _socialButton.SocialButton({ icon: 'VK', href: 'https://www.vk.com/scarfinity' }) }}
            {{ _socialButton.SocialButton({ icon: 'FB', href: 'https://www.facebook.com/groups/scarfinity' }) }}
            {# {{ _socialButton.SocialButton({ icon: 'OK', href: 'https://www.vk.com/scarfinity' }) }} #}
            {# {{ _socialButton.SocialButton({ icon: 'PT', href: '/' }) }} #}
          </div>
        </div>

        {% if informations %}
          <div class="footer-menu">
            <h5 class="footer-menu__title">{{ text_information }}</h5>
            <ul class="list-unstyled">
             {% for information in informations %}
              <li><a class="footer-menu__item" href="{{ information.href }}">{{ information.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <div class="footer-menu">
          <h5 class="footer-menu__title">{{ text_service }}</h5>
          <ul class="list-unstyled">
            <li><a class="footer-menu__item" href="{{ contact }}">{{ text_contact }}</a></li>
            <li><a class="footer-menu__item" href="{{ return }}">{{ text_return }}</a></li>
            <li><a class="footer-menu__item" href="{{ sitemap }}">{{ text_sitemap }}</a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <h5 class="footer-menu__title">{{ text_extra }}</h5>
          <ul class="list-unstyled">
            <li><a class="footer-menu__item" href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
            <li><a class="footer-menu__item" href="{{ voucher }}">{{ text_voucher }}</a></li>
            <li><a class="footer-menu__item" href="{{ affiliate }}">{{ text_affiliate }}</a></li>
            <li><a class="footer-menu__item" href="{{ special }}">{{ text_special }}</a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <h5 class="footer-menu__title">{{ text_account }}</h5>
          <ul class="list-unstyled">
            <li><a class="footer-menu__item" href="{{ account }}">{{ text_account }}</a></li>
            <li><a class="footer-menu__item" href="{{ order }}">{{ text_order }}</a></li>
            <li><a class="footer-menu__item" href="{{ wishlist }}">{{ text_wishlist }}</a></li>
            <li><a class="footer-menu__item" href="{{ newsletter }}">{{ text_newsletter }}</a></li>
          </ul>
        </div>

    </div>
  </div>
  <div class="bottom-logo"></div>
  <div class="bottom-copyright">{{ powered }}</div>
</footer>

</main>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
{# <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script> #}

<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/lodash/lodash.js" type="text/javascript"></script>

{% if isMobile or isTablet %}
  {# Scripts #}
  <script src="catalog/view/javascript/slideout.js/dist/slideout.min.js" type="text/javascript"></script>
  <script type="text/javascript">
      var tolerance = 70;
      console.log(document.getElementById('mobile-main-menu'));

      var slideout = new Slideout({
        'panel': document.getElementById('panel'),
        'menu': document.getElementById('mobile-left-menu'),
        'padding': 256,
        'tolerance': tolerance
      });

      var fixed = document.getElementById('mobile-nav-header');
      var mmm = document.getElementById('mobile-main-menu');
      var mfc = document.getElementById('mobile-filters-container');

      slideout.on('translatestart', function() {
        if(!slideoutCart.isOpen()) {
          $('#mobile-left-menu').addClass('active');
        }
      });

      slideout.on('translate', function(translated) {
        fixed.style.transform = 'translateX(' + translated + 'px)';
        mmm.style.transform = 'translateX(' + translated + 'px)';
        mfc.style.transform = 'translateX(' + translated + 'px)';
      });

      slideout.on('beforeopen', function () {
        fixed.style.transition = 'transform 300ms ease';
        fixed.style.transform = 'translateX(256px)';
        mmm.style.transition = 'transform 300ms ease';
        mmm.style.transform = 'translateX(256px)';
        mfc.style.transition = 'transform 300ms ease';
        mfc.style.transform = 'translateX(256px)';
        $('#mobile-left-menu').addClass('active');
      });

      slideout.on('beforeclose', function () {
        fixed.style.transition = 'transform 300ms ease';
        fixed.style.transform = 'translateX(0px)';
        mmm.style.transition = 'transform 300ms ease';
        mmm.style.transform = 'translateX(0px)';
        mfc.style.transition = 'transform 300ms ease';
        mfc.style.transform = 'translateX(0px)';
      });

      slideout.on('open', function () {
        fixed.style.transition = '';
        mmm.style.transition = '';
        mfc.style.transition = '';
      });

      slideout.on('close', function () {
        fixed.style.transition = '';
        mmm.style.transition = '';
        mfc.style.transition = '';
        $('#mobile-left-menu').removeClass('active');
      });

      var slideoutCart = new Slideout({
        'panel': document.getElementById('panel'),
        'menu': document.getElementById('mobile-cart'),
        'padding': 256,
        'tolerance': tolerance,
        'side': 'right'
      });

      slideoutCart.on('translatestart', function() {
        if(!slideoutCart.isOpen()) {
          $('#mobile-cart').addClass('active');
        }
      });

      slideoutCart.on('translate', function(translated) {
        fixed.style.transform = 'translateX(' + translated + 'px)';
        mmm.style.transform = 'translateX(' + translated + 'px)';
        mfc.style.transform = 'translateX(' + translated + 'px)';
      });

      slideoutCart.on('beforeopen', function () {
        fixed.style.transition = 'transform 300ms ease';
        fixed.style.transform = 'translateX(-256px)';
        mmm.style.transition = 'transform 300ms ease';
        mmm.style.transform = 'translateX(-256px)';
        mfc.style.transition = 'transform 300ms ease';
        mfc.style.transform = 'translateX(-256px)';
        $('#mobile-cart').addClass('active');
      });

      slideoutCart.on('beforeclose', function () {
        fixed.style.transition = 'transform 300ms ease';
        fixed.style.transform = 'translateX(0px)';
        mmm.style.transition = 'transform 300ms ease';
        mmm.style.transform = 'translateX(0px)';
        mfc.style.transition = 'transform 300ms ease';
        mfc.style.transform = 'translateX(0px)';
      });

      slideoutCart.on('open', function () {
        fixed.style.transition = '';
        mmm.style.transition = '';
        mfc.style.transition = '';
      });

      slideoutCart.on('close', function () {
        fixed.style.transition = '';
        mmm.style.transition = '';
        mfc.style.transition = '';
        $('#mobile-cart').removeClass('active');
      });
  </script>

  <script type="text/javascript">
    $('.mobile-nav-header__cart').on('click', function() {
      slideoutCart.toggle();
    });

    $('.mobile__hamburger-button').on('click', function() {
      slideout.toggle();
    });

    $('#mobile-nav-middle').on('click', function() {
      mobileMenu.toggle();
      $(this).toggleClass('active');
    });
  </script>

  <script type="text/javascript">
    $('.mobile-nav-ul > li').on('click', function() {
      var subMenu = $(this).find('.mobile-nav-ul');
      if(subMenu) {
        $(this).toggleClass('active');
        subMenu.slideToggle('normal');
      }
    });

    $('.mobile-nav-ul > li.link').on('click', function() {
      var link = $(this).find('a');
      if(link && link.attr('href')) {
        location = link.attr('href');
      }
    });
  </script>
  {# Srcripts end #}
{% endif %}

{% if isMobile %}
  <script type="text/javascript">
    var mobileMenu = {
      isOpen: false,
      menu: document.getElementById('mobile-main-menu'),
      open: function() {
        this.isOpen = true;

        $('html').addClass('mobile-nav-open');
        $(this.menu).addClass('open');
      },
      close: function() {
        this.isOpen = false;

        $('html').removeClass('mobile-nav-open');
        $(this.menu).removeClass('open');
      },
      toggle: function() {
        this.isOpen ? this.close() : this.open();
      }
    }
  </script>
{% else %}
  <script type="text/javascript">
    $('.main-menu-ul').mouseenter(function() {
      $(this).addClass('enter');
      $(this).delay(200).queue(function(next) {
        if($(this).hasClass('enter')) {
          $(this).addClass('active');
        }
        next();
      })
    }).mouseleave(function() {
      $(this).removeClass('enter').removeClass('active');
    });
  </script>
{% endif %}

<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
<script src="catalog/view/javascript/cart.js" type="text/javascript"></script>
<script src="catalog/view/theme/scarfinity/js/lib/currying.js" type="text/javascript"></script>
<script src="catalog/view/theme/scarfinity/js/components/cart.js" type="text/javascript"></script>

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(54779674, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/54779674" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
{# <script src="//code.jivosite.com/widget.js" data-jv-id="0ftaUJMRJr" async></script> #}

<script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js" type="text/javascript"></script>

<script src="catalog/view/javascript/sticky.js/dist/sticky.min.js" type="text/javascript"></script>
<script>var sticky = new Sticky('[data-sticky]', {});</script>

<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
{# <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<script src="catalog/view/theme/scarfinity/js/boot-client.js" type="text/javascript"></script> #}
</body></html>