{% import 'scarfinity/template/components/utility/social-button.twig' as _socialButton  %}
{% import 'scarfinity/template/components/image-container.twig' as _imageContainer %}
{% import 'scarfinity/template/components/utility/mail-line.twig' as _mainLine  %}

{{ _imageContainer.Init() }}

<div style="margin-top: 26px;"></div>
{{ _mainLine.MainLine() }}
<footer>
  <div class="container">
    <div class="row footer-greed">

        <div class="footer-menu footer-menu--social">
          <div>LOGO</div>
          <div class="footer-social">
            <span class="footer-social__title">Мы в соц.сетях</span>
            {{ _socialButton.SocialButton({ icon: 'VK', href: 'https://www.vk.com/scarfinity' }) }}
            {{ _socialButton.SocialButton({ icon: 'FB', href: 'https://www.facebook.com/groups/scarfinity' }) }}
            {{ _socialButton.SocialButton({ icon: 'OK', href: 'https://www.vk.com/scarfinity' }) }}
            {{ _socialButton.SocialButton({ icon: 'IG', href: 'https://www.instagram.com/scarfinity.ru' }) }}
            {{ _socialButton.SocialButton({ icon: 'PT', href: '/' }) }}
          </div>
        </div>

        {% if informations %}
          <div class="footer-menu">
            <h5 class="footer-menu__title">{{ text_information }}</h5>
            <ul class="list-unstyled">
             {% for information in informations %}
              <li><a class="footer-menu__item" href="{{ information.href }}">{{ information.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <div class="footer-menu">
          <h5 class="footer-menu__title">{{ text_service }}</h5>
          <ul class="list-unstyled">
            <li><a class="footer-menu__item" href="{{ contact }}">{{ text_contact }}</a></li>
            <li><a class="footer-menu__item" href="{{ return }}">{{ text_return }}</a></li>
            <li><a class="footer-menu__item" href="{{ sitemap }}">{{ text_sitemap }}</a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <h5 class="footer-menu__title">{{ text_extra }}</h5>
          <ul class="list-unstyled">
            <li><a class="footer-menu__item" href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
            <li><a class="footer-menu__item" href="{{ voucher }}">{{ text_voucher }}</a></li>
            <li><a class="footer-menu__item" href="{{ affiliate }}">{{ text_affiliate }}</a></li>
            <li><a class="footer-menu__item" href="{{ special }}">{{ text_special }}</a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <h5 class="footer-menu__title">{{ text_account }}</h5>
          <ul class="list-unstyled">
            <li><a class="footer-menu__item" href="{{ account }}">{{ text_account }}</a></li>
            <li><a class="footer-menu__item" href="{{ order }}">{{ text_order }}</a></li>
            <li><a class="footer-menu__item" href="{{ wishlist }}">{{ text_wishlist }}</a></li>
            <li><a class="footer-menu__item" href="{{ newsletter }}">{{ text_newsletter }}</a></li>
          </ul>
        </div>

    </div>
  </div>
  <div class="bottom-logo"></div>
  <div class="bottom-copyright">{{ powered }}</div>
</footer>

</main>


{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
{# <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<script src="catalog/view/theme/scarfinity/js/boot-client.js" type="text/javascript"></script> #}
</body></html>