{% import 'scarfinity/template/components/utility/icon-button.twig' as _iconButton %}
{% import 'scarfinity/template/components/utility/_icons.twig' as _icons %}

<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(54779674, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/54779674" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

{# <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /> #}
{# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> #}

<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,300,500,700' type='text/css'>

{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

{# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> #}
{# <link href="catalog/view/javascript/jquery/magnific/magnific-popup.css" type="text/css" rel="stylesheet" media="screen" /> #}
{# <link href="catalog/view/theme/scarfinity/stylesheet/lib/mmenu/mmenu.css" rel="stylesheet"> #}

<link href="catalog/view/theme/scarfinity/stylesheet/stylesheet.css?v={{ cssHash }}" rel="stylesheet">



{# <link href="catalog/view/theme/scarfinity/stylesheet/mobile.css?v={{ cssHash }}" rel="stylesheet"> #}

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>

<body>
    <div id="ss-page">
        <header id="ss-header">

            {{ menu.mobile }}

            {# Mobile header #}
            <nav id="my-header" class="container-fluid ss-nav">
                <div class="mobile-nav-header" id="mobile-nav-header">
                <div class="mobile-nav-header__hamburger">
                    <a href="#ss-mm-menu" class="mobile__hamburger-button" >
                    <span></span>
                    <span></span>
                    <span></span>
                    </div>
                </a>
                <div class="mobile-nav-header__middle" id="mobile-nav-middle">
                
                </div>
                <a href="{{shopping_cart}}" class="mobile-nav-header__cart" id="mobile-nav-header__cart">
                    <div class="mobile-nav-cart-button">
                    <div class="mobile-nav-cart-button__icon"></div>
                    <span class="mobile-nav-cart-button__bage">0</span>
                    </div>
                </a>
                </div>
            </nav>
            {# Mobile header end #}

            {# Desctop header start #}
            <nav class="info-menu">
                <div class="container">
                <div class="row">
                    <div class="col-lg-12 info-menu__container">
                        <ul class="info-menu-navigation">
                        <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm">{{ telephone }}</span></li>
                        <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm">{{ text_wishlist }}</span></a></li>
                        <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm">{{ text_shopping_cart }}</span></a></li>
                        <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm">{{ text_checkout }}</span></a></li>
                        </ul>
                        <div class="dropdown info-menu-navigation__li" style="margin: 0;">
                        <a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                            <span class="hidden-xs hidden-sm">{{ text_account }}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            {% if logged %}
                            <li><a href="{{ account }}">{{ text_account }}</a></li>
                            <li><a href="{{ order }}">{{ text_order }}</a></li>
                            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                            <li><a href="{{ download }}">{{ text_download }}</a></li>
                            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
                            {% else %}
                            <li><a href="{{ register }}">{{ text_register }}</a></li>
                            <li><a href="{{ login }}">{{ text_login }}</a></li>
                            {% endif %}
                        </ul>
                        </div>
                    </div>
                </div>
                </div>
            </nav>

            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <div id="logo">
                                {% if logo %}
                                <a href="{{ home }}">
                                    <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-fluid" />
                                </a>
                                {% else %}
                                {% set name = 'scarfinity' %}
                                <a href="{{ home }}">{{ name }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="">
                            <div class="contact-us">
                                <div class="contact-us__line">
                                    <span class="contact-us__line__title">Новосибирск: </span>
                                    <span class="contact-us__line__value">{{ telephone }}</span>
                                </div>
                                <div class="contact-us__line">
                                    <span class="contact-us__line__title">Регионы: </span> 
                                    <span class="contact-us__line__value">{{ telephone }}</span>
                                </div>
                                <div class="contact-us__phone">Часы работы: с 08:00 до 18:00</div>
                            </div>
                        </div>
                        <div class="flex-grow-1 px-3">{{ search }}</div>
                        <div class="">
                            <div class="top-menu__wish-and-compare">
                                {% set icon %}{{_icons.Heart({size: 32})}}{% endset %}
                                {{_iconButton.iconButton({href: wishlist, icon: icon, bage: {value: wishlist_count}})}}
                                {% set icon %}{{_icons.BarChart({size: 32})}}{% endset %}
                                {{_iconButton.iconButton({href: compare, icon: icon, bage: {value: compare_count}})}}
                            </div>
                        </div>
                        <div id="descktop-cart" class="navigation-cart-block pr-3">{{ cart.desktop }}</div>
                    </div>
                </div>
            </div>

            {{ menu.desktop }}

            {# Desctop header end #}

        </header>
        <div id="ss-content">





