{% import 'scarfinity/template/components/navigation/breadcrumbs.twig' as _breadcrumbs %}
{% import 'scarfinity/template/components/category-product-card.twig' as categoryProductCard %}
{% import 'scarfinity/template/components/utility/unique-offer.twig' as _uniqueOffer %}

{{ header }}
{{ _breadcrumbs.Breadcrumbs() }}
<div id="common-home" class="container">
  <div class="row s-content">
    {{ column_left }}
    <div id="content" class="s-content__middle col-sm-no-padding">
      {{ content_top }}
      <h1>{{ heading_title }}</h1>
      {# <div class="utp-banners">
        {{ _uniqueOffer.UniqueOfferSmall({}) }}
        {{ _uniqueOffer.UniqueOfferSmall({}) }}
        {{ _uniqueOffer.UniqueOfferSmall({}) }}
      </div> #}
      {{ content_bottom }}
    </div>
    {{ column_right }}</div>
</div>
{{ footer }}