{% import 'scarfinity/template/components/navigation/breadcrumbs.twig' as _breadcrumbs %}
{% import 'scarfinity/template/components/category-product-card.twig' as categoryProductCard %}
{% import 'scarfinity/template/components/utility/unique-offer.twig' as _uniqueOffer %}

{{ header }}
{{ _breadcrumbs.Breadcrumbs() }}
<div id="common-home" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="top-container">
        <div class="top-container__banner">
          {{ content_top }}
        </div>
        <div class="top-container__right-offer">
          {{ column_right.modules['home.special.block'] }}
        </div>
      </div>
    </div>
  </div>

  <div calss="row">
    {# {{ column_left }} #}
    <div id="content" class="col-sm-no-padding">
      <h1>{{ heading_title }}</h1>
      {# <div class="utp-banners">
        {{ _uniqueOffer.UniqueOfferSmall({}) }}
        {{ _uniqueOffer.UniqueOfferSmall({}) }}
        {{ _uniqueOffer.UniqueOfferSmall({}) }}
      </div> #}
    {{ content_bottom }}
    </div>
    </div>
</div>
{{ footer }}