{% import 'scarfinity/template/components/navigation/breadcrumbs.twig' as _breadcrumbs %}
{% import 'scarfinity/template/components/category-product-card.twig' as categoryProductCard %}
{% import 'scarfinity/template/components/utility/unique-offer.twig' as _uniqueOffer %}

{{ header }}
{{ _breadcrumbs.Breadcrumbs() }}
<div id="common-home" class="container">
  <div class="row">
    <div class="col-md-12 col-sm-no-padding">
      <div class="top-container">
        <div class="top-container__banner">
          {{ content_top }}
        </div>
        <div class="top-container__right-offer">
          {{ column_right.modules['home.special.block'] }}
        </div>
      </div>
    </div>
  </div>

  <div calss="row">
    {# {{ column_left }} #}
    <div id="content" class="col-sm-no-padding">
      <h1>{{ heading_title }}</h1>
      {# <div class="utp-banners">
        {{ _uniqueOffer.UniqueOfferSmall({}) }}
        {{ _uniqueOffer.UniqueOfferSmall({}) }}
        {{ _uniqueOffer.UniqueOfferSmall({}) }}
      </div> #}
      {{ content_bottom }}
    </div>
  </div>
</div>
<div class="home__about-us">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{ heading_title }}</h2>
        <p>Id pariatur laborum exercitation fugiat mollit est magna. Velit id anim consectetur eu dolore. Cillum sunt aliquip exercitation eu labore ex consequat sunt deserunt amet. Ut adipisicing aliqua commodo anim commodo anim nisi pariatur labore cupidatat sunt eu sit. Anim quis do esse proident sint et ad laborum ut nostrud proident commodo occaecat laborum. Amet do non minim mollit in enim. Eu dolore adipisicing exercitation in excepteur ad.</p>
        <p>Quis laboris ipsum sunt pariatur in cupidatat non fugiat mollit excepteur. Sint consectetur excepteur adipisicing culpa consectetur ad eiusmod exercitation nulla veniam consectetur incididunt. Minim voluptate aliqua sint anim nostrud occaecat quis commodo consectetur ullamco nostrud amet officia. Cillum nulla nulla officia veniam qui labore.</p>
      </div>
    </div>
  </div>
</div>
{{ footer }}