{% import 'scarfinity/template/components/navigation/breadcrumbs.twig' as _breadcrumbs %}
{% import 'scarfinity/template/components/category-product-card.twig' as categoryProductCard %}
{% import 'scarfinity/template/components/utility/unique-offer.twig' as _uniqueOffer %}

{{ header }}
{{ _breadcrumbs.Breadcrumbs() }}
<div id="common-home" class="container">
  <div class="row">
    <div class="col-md-12 col-sm-no-padding">
      <div class="top-container">
        <div class="top-container__banner">
          {{ content_top }}
        </div>
        <div class="top-container__right-offer">
          {{ column_right.modules['home.special.block'] }}
        </div>
      </div>
    </div>
  </div>

  <div calss="row">
    {# {{ column_left }} #}
    <div id="content" class="col-sm-no-padding">
      <h1>{{ heading_title }}</h1>
      {# <div class="utp-banners">
        {{ _uniqueOffer.UniqueOfferSmall({}) }}
        {{ _uniqueOffer.UniqueOfferSmall({}) }}
        {{ _uniqueOffer.UniqueOfferSmall({}) }}
      </div> #}
      {{ content_bottom }}
    </div>
  </div>
</div>

<div class="ss-page-description">
  <div class="container">
    <div class="row">
      <div class="col-12 px-2"><h2>{{ heading_title }}</h2></div>
      <div class="col-12 px-2">
        {% if description %}
          {{ description }}
        {% else %}
          <p>Оптовый интернет магазин аксессуаров. В нашем каталоге представлены товары таких категорий: шарфы, косынки, палантины, платки, снуды, трубы, летние туники и парео и многое другое.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{{ footer }}