{# {% macro Level3(props) %}
  <div class="main-menu-3__container">
    <div class="container">
      <div class="row">
        <div class="main-menu-3__container__content">
          <div class="main-menu-3">
            {% for child in props.children %}
              <a href="{{child.href}}">{{child.name}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% import _self as _ %}

{% if categories %}
<div class="main-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="position: unset;">
        <div class="main-menu-ul">

          {% for category in categories %}
            <span class="main-menu-button">

              {% if category.children %}
                <a href="{{category.href}}">{{category.name}}<i class="fa fa-caret-down"></i></a>
                <div class="main-menu-button__container">

                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">

                        <ul class="main-menu-button__container__content">
                          {% for category_2 in category.children|slice(1, 10) %}
                            <li class="main-menu-button__container__item">

                              {% if category_2.children %}
                                <a href="{{category_2.href}}">
                                  {{category_2.name}}
                                  <i class="fa fa-caret-down"></i>
                                  <div class="main-menu-3__container__triangle"></div>
                                </a>
                                {{
                                  _.Level3(category_2)
                                }}
                              {% else %}
                                <a href="{{category_2.href}}">{{category_2.name}}</a>
                              {% endif %}

                            </li>
                          {% endfor %}

                        </ul>
                        
                      </div>
                    </div>
                  </div>

                </div>
              {% else %}
                <a href="{{category.href}}">{{category.name}}</a>
              {% endif %}

            </span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} #}

{% import 'scarfinity/template/components/utility/_icons.twig' as _icons %}

{# Mobile #}
{% if isMobile %}
  <div class="mobile-nav" id="mobile-main-menu">
    <div class="mobile-nav__container">
      {# Middle menu #}
      <div class="mobile-nav-middle-menu">
        <ul class="mobile-nav-ul">
          {% for category in categories %}
            <li>
              {% if category.children %}
                <span><a href="{{ category.href }}">{{ category.name }}</a><span class="sIcon"><i class="fa fa-angle-down"></i></span></span>
                <ul class="mobile-nav-ul">
                  {% for child in category.children %}
                    <li><span><a href="{{ child.href }}">{{ child.name }}</a></span></li>
                  {% endfor %}
                </ul>
              {% else %}
                <span><a href="{{ category.href }}">{{category.name}}</a></span>
              {% endif %}
            </li>
            
          {% endfor %}
        </ul>
      </div>
      {# Middle menu end #}
    </div>
  </div>  
{% else %}
  {# Desktop menu #}
  <div class="main-menu" id="main-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          {# Все меню лежит внутри кнопки #}
          {% if isHome %}
            <div class="main-menu-catalog-button main-menu-catalog-button--desktop-open">
          {% else %}
            <div class="main-menu-catalog-button">
          {% endif %}
            <i class="fa fa-th"></i><span>Каталог товаров</span>
            <div class="main-menu-catalog-ul__container">
              <div class="main-menu-catalog-ul">
                <ul class="main-menu-catalog-ul__special">
                  {% for category in ['Распродажа', 'Весенняя коллекция', 'Очки'] %}
                    <li><a href="{{category.href}}"><i></i><span>{{category}}</span></a></li>
                  {% endfor %}
                </ul>
                <ul class="main-menu-catalog-ul__common">
                  {% for category in categories %}
                    <li>
                      <a href="{{category.href}}">
                        <i></i>
                        <span>{{category.name}}</span>
                        <i class="fa fa-angle-right side"></i>
                      </a>
                      <div class="main-menu-catalog-ul__sub-container">
                        <ul class="main-menu-catalog-ul-sub__grid">
                          {% for category_2 in category.children %}
                              <li class="main-menu-catalog-ul-sub">
                                <a href="{{ category_2.href }}" class="main-menu-catalog-ul-sub__title">{{category_2.name}}</a>
                                {% if category_2.children %}
                                  <ul class="main-menu-catalog-ul-sub__links">
                                    {% for category_3 in category_2.children %}
                                      <li><a href="{{ category_3.href }}">{{ category_3.name }}</a></li>
                                    {% endfor %}
                                  </ul>
                                {% endif %}
                              </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
                <ul class="main-menu-catalog-ul__footer">
                  {% for item in 1..5 %}
                    <li></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if isMobile %}
  <script type="text/javascript">
    var mobileMenu = {
      isOpen: false,
      menu: document.getElementById('mobile-main-menu'),
      open: function() {
        this.isOpen = true;

        $('html').addClass('mobile-nav-open');
        $(this.menu).addClass('open');
      },
      close: function() {
        this.isOpen = false;

        $('html').removeClass('mobile-nav-open');
        $(this.menu).removeClass('open');
      },
      toggle: function() {
        this.isOpen ? this.close() : this.open();
      }
    }
  </script>
{% else %}
  <script type="text/javascript">
    $('.main-menu-ul').mouseenter(function() {
      $(this).addClass('enter');
      $(this).delay(200).queue(function(next) {
        if($(this).hasClass('enter')) {
          $(this).addClass('active');
        }
        next();
      })
    }).mouseleave(function() {
      $(this).removeClass('enter').removeClass('active');
    });
  </script>
{% endif %}


        {# <div class="main-menu-ul"> #}
{#           <div class="main-menu-ul__container">
            <div class="main-menu-ul__container__nav-ul">
              {% for category in categories %}
                <div class="main-menu-ul__container__nav-ul__item">
                  <span class="main-menu-button">
                    {% if category.children %}
                      <a href="{{category.href}}">{{category.name}}<i class="fa fa-caret-down"></i></a>
                    {% else %}
                      <a href="{{category.href}}">{{category.name}}</a>
                    {% endif %}
                    <div class="main-menu-button__container">
                      <ul class="main-menu-button__container__content">
                        {% for category_2 in category.children|slice(1, 10) %}
                          <li class="main-menu-button__container__item">

                            {% if category_2.children %}
                              <a href="{{category_2.href}}">
                                {{category_2.name}}
                                <i class="fa fa-caret-down"></i>
                                <div class="main-menu-3__container__triangle"></div>
                              </a>
                              {{
                                _.Level3(category_2)
                              }}
                            {% else %}
                              <a href="{{category_2.href}}">{{category_2.name}}</a>
                            {% endif %}

                          </li>
                        {% endfor %}

                      </ul>
                    </div>
                  </span>
                </div>
              {% endfor %}
            </div>
          </div> #}

          {# {% for category in categories %}
            <span class="main-menu-button">

              {% if category.children %}
                <a href="{{category.href}}">{{category.name}}<i class="fa fa-caret-down"></i></a>
                <div class="main-menu-button__container">

                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">

                        <ul class="main-menu-button__container__content">
                          {% for category_2 in category.children|slice(1, 10) %}
                            <li class="main-menu-button__container__item">

                              {% if category_2.children %}
                                <a href="{{category_2.href}}">
                                  {{category_2.name}}
                                  <i class="fa fa-caret-down"></i>
                                  <div class="main-menu-3__container__triangle"></div>
                                </a>
                                {{
                                  _.Level3(category_2)
                                }}
                              {% else %}
                                <a href="{{category_2.href}}">{{category_2.name}}</a>
                              {% endif %}

                            </li>
                          {% endfor %}

                        </ul>
                        
                      </div>
                    </div>
                  </div>

                </div>
              {% else %}
                <a href="{{category.href}}">{{category.name}}</a>
              {% endif %}

            </span>
          {% endfor %} #}

        {# </div> #}






