{% macro categoryProductCard(product, data) %}

    {% import 'scarfinity/template/components/image-container.twig' as imageContainer %}
    {% import 'scarfinity/template/components/rating-box.twig' as ratingBox %}
    {% import 'scarfinity/template/components/currency.twig' as currency %}
    {% import 'scarfinity/template/components/utility/ribbon.twig' as ribbon %}
    {% import 'scarfinity/template/components/button.twig' as button %}

    <div class="product-card-catalog">
        <div class="product-card-catalog__image">
            <div class="product-card-catalog__image__image">
                {{ imageContainer.imageContainer(product.thumb) }}
            </div>
            <a 
                href="#"
                class="product-card-catalog__image__info">
                <span>Цвета:</span>
            </a>
        </div>

        <div class="product-card-catalog__rating">
            {{ ratingBox.ratingBox(product.rating) }}
        </div>

        <div class="product-card-catalog__description">
            <span class="product-card-catalog__title">{{ product.name }}</span>
            <div class="product-card-catalog-footer">
                <div class="product-card-catalog-footer__price">
                    {{ currency.currency(
                        { 'price': product.price, 'special': product.special }, 
                        { 'fontSize': 18, 'fontWeight': 500 }) 
                    }}
                </div>
                <div class="product-card-catalog-footer__button">
                    {{ button.catalogProductCardButton({ 'label': data.buttonLabel, 'productId': product.product_id }) }}
                </div>
            </div>
        </div>
        {% if product.special %}
            <div class="product-card-catalog__ribbon">{{ ribbon.ribbon('sale') }}</div>
        {% endif %}
    </div>
{% endmacro %}