{% macro categoryProductCard(product, data) %}

    {% import 'scarfinity/template/components/image-container.twig' as imageContainer %}
    {% import 'scarfinity/template/components/rating-box.twig' as ratingBox %}
    {% import 'scarfinity/template/components/currency.twig' as currency %}
    {% import 'scarfinity/template/components/utility/ribbon.twig' as ribbon %}
    {% import 'scarfinity/template/components/button.twig' as button %}

    <div class="product-card-catalog">
        <a href="{{product.href}}" class="product-card-catalog__image">
            <img class="img-responsive" src="{{product.thumb}}" alt="{{product.name}}" name="{{product.name}}"/>
        </a>
        
        <div class="product-card-catalog__image__color">Доступно цветов: {{product.props['color']|default(1)}}</div>

        <div class="product-card-catalog__rating">
            {{ ratingBox.ratingBox(product.rating) }}
        </div>

        <div class="product-card-catalog__description">
            <a href="{{product.href}}" class="product-card-catalog__title">{{ product.name }}</a>
            <div class="product-card-catalog-footer">
                <div class="product-card-catalog-footer__price">
                    {{ currency.currency(
                        { 'price': product.price, 'special': product.special, 'prefix': 'от', 'unit': '/ шт.' }, 
                        { 'fontSize': 18, 'fontWeight': 500, 'style': 'accent' }) 
                    }}
                </div>
                <div class="product-card-catalog-footer__button">
                    {{ button.catalogProductCardButton({ 'label': data.buttonLabel, 'productId': product.product_id }) }}
                </div>
            </div>
        </div>
        {% if product.props['ribbon'] %}
            {{ ribbon.ribbon(product.props['ribbon']) }}
        {% endif %}
    </div>
{% endmacro %}