{% macro categoryProductCard(product, data) %}

    {% import 'scarfinity/template/components/image-container.twig' as imageContainer %}
    {% import 'scarfinity/template/components/rating-box.twig' as ratingBox %}
    {% import 'scarfinity/template/components/currency.twig' as currency %}
    {% import 'scarfinity/template/components/utility/ribbon.twig' as ribbon %}
    {% import 'scarfinity/template/components/button.twig' as button %}
    {% import 'scarfinity/template/components/utility/icon-button.twig' as _iconButton %}
    {% import 'scarfinity/template/components/utility/_icons.twig' as _icons %}
    {% import 'scarfinity/template/components/lib/currying.twig' as _currying %}

    {% set lazy = true %}

    {% set swiper_id = product.product_id ~ random() %}
    {% set swiper = true %}

    <div class="product-card-catalog" id="product-card-catalog[{{swiper_id}}]" data-init="false" data-image-init="false">
        <div class="product-card-catalog__image">
            <div class="image-container">
                <div class="image-container__dummy"></div>
                <div class="image-container__container">
                    {% if product.images and product.images|length > 1 and swiper %}  
                        <div class="swiper-container product-card-catalog-swiper" id="product-card-catalog-swiper-{{swiper_id}}">
                            <div class="swiper-wrapper">
                                {% for image in product.images %}
                                <div class="swiper-slide">
                                    {% if loop.index == 1 %}
                                        <img class="img-responsive swiper-lazy-main" src="{{image.lazy}}" data-src="{{image.thumb}}" alt="{{product.name}}" name="{{product.name}}"/>
                                    {% else %}
                                        <img class="img-responsive swiper-lazy" data-src="{{image.thumb}}" alt="{{product.name}}" name="{{product.name}}"/>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <a class="product-card-catalog__image__link" href="{{product.href}}"></a>
                            <div class="product-card-catalog__image__button product-card-catalog__image__button--prev">{{ _icons.ChevronLeft({ size: 14 }) }}</div>
                            <div class="product-card-catalog__image__button product-card-catalog__image__button--next">{{ _icons.ChevronRight({ size: 14 }) }}</div>
                        </div>
                    {% else %}
                        <img class="img-responsive" src="{{product.images[0].thumb}}" alt="{{product.name}}" name="{{product.name}}"/>
                        <a class="product-card-catalog__image__link" href="{{product.href}}"></a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="product-card-catalog__navigation">
            <div class="product-card-catalog__navigation__favorite">
                {% set icon %}{{_icons.Heart({size: 20})}}{% endset %}
                {{_iconButton.iconButton({onClick: "wishlist.add('" ~ product.product_id ~ "')", icon: icon})}}
                {% set icon %}{{_icons.BarChart({size: 22})}}{% endset %}
                {{_iconButton.iconButton({onClick: "compare.add('" ~ product.product_id ~ "')", icon: icon})}}
            </div>
            <div class="product-card-catalog__rating">
                
                {# {{ ratingBox.ratingBox(product.rating) }} #}
                {# <span class="product-card-catalog__rating__count">({{product.reviews|default(0)}})</span> #}
            </div>
            <div id="product-card-catalog-swiper-pagination-{{swiper_id}}" class="swiper-pagination product-card-catalog__navigation__pagination"></div>
        </div>

        <div id="product-card-catalog-colors-{{swiper_id}}" class="product-card-catalog-colors colors-mfp">
            {% for color in product.colors %}
                <a class="product-card-catalog-colors__color" href="{{color.image.popup}}">
                    <img src="{{ color.image.thumb }}" />
                </a>
            {% endfor %} 
        </div>
        
        <div class="product-card-catalog__description">
            {# <div id="product-card-catalog-colors--{{swiper_id}}" class="product-card-catalog__description__rating ">
                {{ ratingBox.ratingBox(product.rating) }}

                {% set colorCount = product.isbn|default(1) %}
                {% set color_image_href = product.images|first %}
                {% if colorCount > 1 %}
                    {% set color_image_href = product.images|last %}
                {% endif %}
                
                <a href="{{color_image_href.popup}}" class="product-card-catalog__description__rating__colors">{{colorCount}} {{_currying.__('color', colorCount)}} </a>
            </div> #}

            <div class="product-card-catalog__description__info">
                <h2><a href="{{product.href}}" class="product-card-catalog__title">{{ product.name }}</a></h2>
                <span>{{ product.description }}</span>
            </div>

            <div class="product-card-catalog__price">
                {{ currency.currency(
                    { 'price': product.price, 'special': product.special, 'prefix': '', 'unit': '/ шт.' }, 
                    { 'fontSize': 18, 'fontWeight': 500, 'style': 'accent' }) 
                }}
            </div>

            {# <div>{{product.date.added|date("F jS \\a\\t g:ia") }}</div> #}
        </div>

        {# {% if "now"|date("m/d/Y") %}
            {{ "now"|date("m/d/Y") }}
        {% endif %}
         #}

        {# {% if product.props['ribbon'] %}
            {{ ribbon.ribbon(product.props['ribbon']) }}
        {% endif %} #}
    </div>


    



{% endmacro %}