{% macro currency(price, style) %}
	<div 
		class="utility__currency" 
		style="
			font-size: {{ style.fontSize|default(14) }}px;
			font-weight: {{ style.fontWeight|default(400) }};">
				<div class="utility__currency__conteiner">
                    {% if price.special %}
                    	<span class="utility__currency__value">{{ price.special }}</span>
                        <span class="utility__currency__unsale-value">{{ price.price }}</span>
                    {% else %}
                        <span class="utility__currency__value">{{ price.price }}</span>
                    {% endif %}
				</div>
				<span class="utility__currency__subtitle">{{ price.subTitle }}</span>
	</div>
{% endmacro %}