{% macro imageContainer(props) %}
    <div class="image-container {{props.init and props.init == true ? 'init' : ''}}">
    	<div class="image-container__dummy"></div>
        <div class="image-container__container">
            {% if props.magnifer %}
                <div class="magnifier-thumb-wrapper">
                    <img id="{{props.magnifer}}" data-large-img-url="{{props.large}}" src="{{props.src}}" alt="{{props.alt}}" name="{{props.name}}" />
                </div>
            {% elseif props.src %}
                <img id="{{props.id}}" src="{{props.src}}" alt="{{props.alt}}" name="{{props.name}}" />
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro Init(props) %}
    <script type="text/javascript">
        $('.image-container').removeClass('init');
    </script>
{% endmacro %}