{% macro _(props) %}
    <span class="sIcon" style="display: inline-block; font-size: 0; width: {{ props.style.size|default(24) }}px; height: {{ props.style.size|default(24) }}px;">
        <svg
            xmlns="http://www.w3.org/2000/svg" 
            width="{{ props.style.size|default(24) }}px"
            height="{{ props.style.size|default(24) }}px"
            viewBox="{{ props.viewBox }}"
            style="display: block; transition: all 0.3s ease;">
                {{ props.svg }}
        </svg>
    </span>
{% endmacro %}

{% macro Search(props) %}
    {% import _self as _ %}
        {% set svg %}
            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"> 
        {% endset %}
        {{
            _._({
                viewBox: '0 0 24 24',
                svg: svg
            })
        }}
{% endmacro %}

{% macro Arrows(props) %}
    {% import _self as _ %}
        {% set svg %}
            <path d="M60,190.054H240l-90,100.01Zm0-79.995H240l-90-100Z" transform="translate(-60 -10.063)"/> 
        {% endset %}
        {{
            _._({
                viewBox: '0 0 180 280',
                svg: svg,
                style: { size: props.size }
            })
        }}
{% endmacro %}

{% macro BaselineArrowForward(props) %}
    {% import _self as _ %}
    {% set svg %}
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
    {% endset %}
    {{
        _._({
            viewBox: '0 0 24 24',
            svg: svg,
            style: { size: props.size }
        })
    }}    
{% endmacro %}

{% macro BarChart(props) %}
    {% import _self as _ %}
    {% set svg %}
        <path d="M5 9.2h3V19H5zM10.6 5h2.8v14h-2.8zm5.6 8H19v6h-2.8z"/><path fill="none" d="M0 0h24v24H0z"/>
    {% endset %}
    {{
        _._({
            viewBox: '0 0 24 24',
            svg: svg,
            style: { size: props.size }
        })
    }}  
{% endmacro %}

{% macro ChevronLeft(props) %}
    {% import _self as _ %}
        {% set svg %}
            <path d="M23.9,54.7L67.116,97.98A7.123,7.123,0,0,0,77.167,87.912L39.226,49.928l37.94-37.995a6.951,6.951,0,0,0-.251-9.811,6.927,6.927,0,0,0-9.8-.249L23.9,45.144a6.545,6.545,0,0,0-1.879,4.508c0,0.087-.018.181-0.019,0.276s0.014,0.182.019,0.276A6.535,6.535,0,0,0,23.9,54.7Z"/> 
        {% endset %}
        {{
            _._({
                viewBox: "0 0 100 100",
                svg: svg,
                style: { size: props.size }
            })
        }}
{% endmacro %}

{% macro ChevronRight(props) %}
    {% import _self as _ %}
        {% set svg %}
            <path d="M77.1,45.213L33.934,1.9a6.917,6.917,0,0,0-9.789.257,6.968,6.968,0,0,0-.251,9.821l37.9,38.02-37.9,38.03a7.119,7.119,0,0,0,10.04,10.07L77.1,54.783a6.557,6.557,0,0,0,1.877-4.512c0-.087.018-0.181,0.019-0.277s-0.014-.182-0.019-0.277A6.547,6.547,0,0,0,77.1,45.213Z"/> 
        {% endset %}
        {{
            _._({
                viewBox: "0 0 100 100",
                svg: svg,
                style: { size: props.size }
            })
        }}
{% endmacro %}

{% macro CartBasket(props) %}
    {% import _self as _ %}
        {% set svg %}
            <path d="M281.251,150.085h-1.726l-31.718,130C245.4,291.082,234.789,300,224.1,300H75.9c-10.689,0-21.3-8.922-23.707-19.914l-31.718-130H18.75C8.4,150.085,0,140.931,0,129.641S8.4,109.2,18.75,109.2h262.5c10.355,0,18.749,9.15,18.749,20.443S291.606,150.085,281.251,150.085ZM162.5,272.755h50c6.9,0,12.5-6.1,12.5-13.635s-5.6-13.631-12.5-13.631h-50v27.266Zm0-54.525H225c6.9,0,12.5-6.1,12.5-13.624s-5.6-13.635-12.5-13.635H162.5V218.23Zm-25-81.773h-75c-6.9,0-12.5,6.107-12.5,13.628s5.6,13.631,12.5,13.631h75V136.457Zm0,54.514H75c-6.9,0-12.5,6.107-12.5,13.635S68.1,218.23,75,218.23h62.5V190.971Zm0,54.518h-50c-6.9,0-12.5,6.107-12.5,13.631s5.6,13.635,12.5,13.635h50V245.489Zm100-109.032h-75v27.259h75c6.9,0,12.5-6.1,12.5-13.631S244.4,136.457,237.5,136.457Zm-13.223-45.9L167.1,28.211a17.608,17.608,0,0,1,0-23.383,14.3,14.3,0,0,1,21.443,0l57.18,62.346a17.612,17.612,0,0,1,0,23.386A14.3,14.3,0,0,1,224.277,90.56Zm-148.553,0a14.3,14.3,0,0,1-21.444,0,17.614,17.614,0,0,1,0-23.386L111.462,4.829a14.3,14.3,0,0,1,21.442,0,17.61,17.61,0,0,1,0,23.383Z"/>
        {% endset %}
        {{
            _._({
                viewBox: "0 0 300 300",
                svg: svg,
                style: { size: props.size }
            })
        }}
{% endmacro %}

{% macro CartBasketRound(props) %}
    {% import _self as _ %}
        {% set svg %}
            <path d="M42.000,84.000 C18.804,84.000 -0.000,65.196 -0.000,42.001 C-0.000,18.805 18.804,0.001 42.000,0.001 C65.196,0.001 84.000,18.805 84.000,42.001 C84.000,65.196 65.196,84.000 42.000,84.000 ZM42.000,2.000 C19.909,2.000 2.000,19.909 2.000,42.000 C2.000,64.092 19.909,82.000 42.000,82.000 C64.091,82.000 82.000,64.092 82.000,42.000 C82.000,19.909 64.091,2.000 42.000,2.000 ZM63.000,42.001 L62.724,42.001 L57.649,61.078 C57.265,62.693 55.566,64.001 53.856,64.001 L30.144,64.001 C28.434,64.001 26.736,62.693 26.351,61.078 L21.276,42.001 L21.000,42.001 C19.343,42.001 18.000,40.658 18.000,39.001 C18.000,37.344 19.343,36.001 21.000,36.001 L22.858,36.001 L61.142,36.001 L63.000,36.001 C64.657,36.001 66.000,37.344 66.000,39.001 C66.000,40.658 64.657,42.001 63.000,42.001 ZM44.000,60.001 L52.000,60.001 C53.105,60.001 54.000,59.106 54.000,58.001 C54.000,56.896 53.105,56.001 52.000,56.001 L44.000,56.001 L44.000,60.001 ZM44.000,52.002 L54.000,52.002 C55.105,52.002 56.000,51.105 56.000,50.001 C56.000,48.897 55.105,48.001 54.000,48.001 L44.000,48.001 L44.000,52.002 ZM40.000,40.001 L28.000,40.001 C26.895,40.001 26.000,40.897 26.000,42.001 C26.000,43.106 26.895,44.000 28.000,44.000 L40.000,44.000 L40.000,40.001 ZM40.000,48.001 L30.000,48.001 C28.895,48.001 28.000,48.897 28.000,50.001 C28.000,51.105 28.895,52.002 30.000,52.002 L40.000,52.002 L40.000,48.001 ZM40.000,56.001 L32.000,56.001 C30.895,56.001 30.000,56.896 30.000,58.001 C30.000,59.106 30.895,60.001 32.000,60.001 L40.000,60.001 L40.000,56.001 ZM56.000,40.001 L44.000,40.001 L44.000,44.000 L56.000,44.000 C57.105,44.000 58.000,43.106 58.000,42.001 C58.000,40.897 57.105,40.001 56.000,40.001 ZM53.884,33.265 L44.735,24.117 C43.788,23.170 43.788,21.633 44.735,20.686 C45.683,19.739 47.219,19.739 48.166,20.686 L57.315,29.835 C58.263,30.782 58.263,32.318 57.315,33.265 C56.368,34.214 54.832,34.214 53.884,33.265 ZM30.116,33.265 C29.168,34.214 27.632,34.214 26.685,33.265 C25.737,32.318 25.737,30.782 26.685,29.835 L35.834,20.686 C36.781,19.739 38.317,19.739 39.265,20.686 C40.212,21.633 40.212,23.170 39.265,24.117 L30.116,33.265 Z"/>
        {% endset %}
        {{
            _._({
                viewBox: "0 0 300 300",
                svg: svg,
                style: { size: props.size }
            })
        }}
{% endmacro %}

{% macro Cancel(props) %}
    {% import _self as _ %}
        {% set svg %}
            <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
        {% endset %}
        {{
            _._({
                viewBox: "0 0 24 24",
                svg: svg,
                style: { size: props.size }
            })
        }}
{% endmacro %}

{% macro DotLarge(props) %}
    {% import _self as _ %}
        {% set svg %}
            <circle cx="12" cy="12" r="10" />
        {% endset %}
        {{
            _._({
                viewBox: "0 0 24 24",
                svg: svg,
                style: { size: props.size }
            })
        }}
{% endmacro %}

{% macro DotMedium(props) %}
    {% import _self as _ %}
        {% set svg %}
            <circle cx="12" cy="12" r="7" />
        {% endset %}
        {{
            _._({
                viewBox: "0 0 24 24",
                svg: svg,
                style: { size: props.size }
            })
        }}
{% endmacro %}

{% macro DotSmall(props) %}
    {% import _self as _ %}
        {% set svg %}
            <circle cx="12" cy="12" r="5" />
        {% endset %}
        {{
            _._({
                viewBox: "0 0 24 24",
                svg: svg,
                style: { size: props.size }
            })
        }}
{% endmacro %}

{% macro DeliveryRound(props) %}
    {% import _self as _ %}
        {% set svg %}
            <path d="M42.000,84.000 C18.804,84.000 0.000,65.196 0.000,42.001 C0.000,18.805 18.804,0.001 42.000,0.001 C65.196,0.001 84.000,18.805 84.000,42.001 C84.000,65.196 65.196,84.000 42.000,84.000 ZM42.000,2.000 C19.909,2.000 2.000,19.909 2.000,42.000 C2.000,64.092 19.909,82.000 42.000,82.000 C64.091,82.000 82.000,64.092 82.000,42.000 C82.000,19.909 64.091,2.000 42.000,2.000 ZM63.000,56.002 L61.899,56.002 C61.410,52.614 58.523,50.003 55.000,50.003 C51.477,50.003 48.590,52.614 48.101,56.002 L35.899,56.002 C35.410,52.614 32.523,50.003 29.000,50.003 C25.477,50.003 22.590,52.614 22.101,56.002 L21.000,56.002 C19.343,56.002 18.000,54.659 18.000,53.002 L18.000,42.001 L18.000,40.000 C18.000,38.897 18.444,37.223 18.992,36.265 L25.008,27.737 C25.556,26.778 26.895,26.002 28.000,26.002 L33.000,26.002 C34.657,26.002 36.000,27.345 36.000,29.002 L36.000,42.001 L63.000,42.001 C64.657,42.001 66.000,43.344 66.000,45.001 L66.000,53.002 C66.000,54.659 64.657,56.002 63.000,56.002 ZM32.000,30.001 L28.000,30.001 L22.000,40.000 L32.000,40.000 L32.000,30.001 ZM63.000,40.000 L41.000,40.000 C39.343,40.000 38.000,38.658 38.000,37.001 L38.000,25.001 C38.000,23.343 39.343,22.001 41.000,22.001 L63.000,22.001 C64.657,22.001 66.000,23.343 66.000,25.001 L66.000,37.001 C66.000,38.658 64.657,40.000 63.000,40.000 ZM29.000,52.001 C31.761,52.001 34.000,54.241 34.000,57.002 C34.000,59.762 31.761,62.002 29.000,62.002 C26.239,62.002 24.000,59.762 24.000,57.002 C24.000,54.241 26.239,52.001 29.000,52.001 ZM55.000,52.001 C57.761,52.001 60.000,54.241 60.000,57.002 C60.000,59.762 57.761,62.002 55.000,62.002 C52.239,62.002 50.000,59.762 50.000,57.002 C50.000,54.241 52.239,52.001 55.000,52.001 Z"/>
        {% endset %}
        {{
            _._({
                viewBox: "0 0 84 84",
                svg: svg,
                style: { size: props.size }
            })
        }}    
{% endmacro %}

{% macro GiftRound(props) %}
    {% import _self as _ %}
        {% set svg %}
            <path d="M42.000,84.000 C18.804,84.000 0.000,65.196 0.000,42.000 C0.000,18.804 18.804,0.000 42.000,0.000 C65.196,0.000 84.000,18.804 84.000,42.000 C84.000,65.196 65.196,84.000 42.000,84.000 ZM42.000,2.000 C19.909,2.000 2.000,19.909 2.000,42.000 C2.000,64.092 19.909,82.000 42.000,82.000 C64.091,82.000 82.000,64.092 82.000,42.000 C82.000,19.909 64.091,2.000 42.000,2.000 ZM63.000,34.001 L44.000,34.001 L44.000,23.693 C45.722,21.527 47.437,19.605 48.568,18.955 C51.666,17.175 55.534,18.069 57.206,20.951 C58.523,23.221 58.066,26.033 56.309,28.001 L63.000,28.001 C64.657,28.001 66.000,29.344 66.000,31.001 C66.000,32.658 64.657,34.001 63.000,34.001 ZM53.726,22.951 C53.167,21.987 51.675,21.802 50.395,22.537 C49.115,23.273 44.984,27.973 44.984,27.973 C44.984,27.973 51.141,26.764 52.421,26.029 C53.701,25.293 54.285,23.915 53.726,22.951 ZM60.000,39.001 L60.000,63.001 C60.000,64.657 58.657,66.001 57.000,66.001 L44.000,66.001 L44.000,36.001 L57.000,36.001 C58.657,36.001 60.000,37.344 60.000,39.001 ZM24.000,63.001 L24.000,39.001 C24.000,37.344 25.343,36.001 27.000,36.001 L40.000,36.001 L40.000,66.001 L27.000,66.001 C25.343,66.001 24.000,64.657 24.000,63.001 ZM18.000,31.001 C18.000,29.344 19.343,28.001 21.000,28.001 L27.691,28.001 C25.934,26.033 25.477,23.221 26.794,20.951 C28.466,18.069 32.334,17.175 35.432,18.955 C36.562,19.604 38.277,21.525 40.000,23.691 L40.000,34.001 L21.000,34.001 C19.343,34.001 18.000,32.658 18.000,31.001 ZM31.579,26.029 C32.859,26.764 39.016,27.973 39.016,27.973 C39.016,27.973 34.885,23.273 33.605,22.537 C32.325,21.802 30.833,21.987 30.274,22.951 C29.715,23.915 30.299,25.293 31.579,26.029 Z"/>
        {% endset %}
        {{
            _._({
                viewBox: "0 0 84 84",
                svg: svg,
                style: { size: props.size }
            })
        }}    
{% endmacro %}

{% macro Medal(props) %}
    {% import _self as _ %}
        {% set svg %}
            <path d="M46.401,98.410 C44.010,96.313 41.353,95.892 38.431,97.149 C35.508,98.405 33.234,97.666 31.609,94.932 C29.983,92.199 27.586,90.978 24.419,91.270 C21.251,91.562 19.317,90.157 18.616,87.055 C17.915,83.953 16.013,82.052 12.910,81.351 C9.807,80.650 8.402,78.716 8.694,75.550 C8.986,72.383 7.765,69.987 5.030,68.362 C2.296,66.737 1.557,64.463 2.814,61.542 C4.070,58.620 3.650,55.964 1.551,53.574 C-0.547,51.183 -0.547,48.794 1.551,46.403 C3.650,44.013 4.070,41.357 2.814,38.436 C1.557,35.514 2.296,33.241 5.030,31.615 C7.765,29.990 8.986,27.594 8.694,24.427 C8.402,21.261 9.807,19.327 12.910,18.626 C16.013,17.925 17.915,16.024 18.616,12.922 C19.317,9.820 21.251,8.414 24.419,8.707 C27.586,8.998 29.983,7.778 31.609,5.044 C33.234,2.311 35.508,1.573 38.431,2.829 C41.353,4.085 44.010,3.664 46.401,1.567 C48.792,-0.531 51.183,-0.531 53.574,1.567 C55.965,3.664 58.621,4.085 61.544,2.829 C64.466,1.573 66.740,2.311 68.365,5.044 C69.991,7.778 72.388,8.998 75.555,8.707 C78.723,8.414 80.657,9.820 81.358,12.922 C82.059,16.024 83.961,17.925 87.064,18.626 C90.167,19.327 91.572,21.261 91.280,24.427 C90.988,27.594 92.210,29.990 94.944,31.615 C97.678,33.241 98.417,35.514 97.160,38.436 C95.904,41.357 96.325,44.013 98.423,46.403 C100.521,48.794 100.521,51.183 98.423,53.574 C96.325,55.964 95.904,58.620 97.160,61.542 C98.417,64.463 97.678,66.737 94.944,68.362 C92.210,69.987 90.988,72.383 91.280,75.550 C91.572,78.716 90.167,80.650 87.064,81.351 C83.961,82.052 82.059,83.953 81.358,87.055 C80.657,90.157 78.723,91.562 75.555,91.270 C72.388,90.978 69.991,92.199 68.365,94.932 C66.740,97.666 64.466,98.405 61.544,97.149 C58.621,95.892 55.965,96.313 53.574,98.410 C51.183,100.508 48.792,100.508 46.401,98.410 Z"/>
        {% endset %}
        {{
            _._({
                viewBox: "0 0 101 100",
                svg: svg,
                style: { size: props.size }
            })
        }}    
{% endmacro %}

{% macro Heart(props) %}
    {% import _self as _ %}
        {% set svg %}
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
        {% endset %}
        {{
            _._({
                viewBox: "-1 -1 26 26",
                svg: svg,
                style: { size: props.size }
            })
        }}    
{% endmacro %}

{% macro Tiles(props) %}
    {% import _self as _ %}
    {% set svg %}
        <path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/>
    {% endset %}
    {{
        _._({
            viewBox: "0 0 24 24",
            svg: svg,
            style: { size: props.size }
        })
    }}        
{% endmacro %}