{% macro BasicInput(props) %}
    <div class="sInput-container{{props.required ? ' required': ''}}{{ props.hidden and props.hidden == true ? ' hidden': ''}}">
        {% set id = props.id|default(random()) %}
        {% if props.label and props.type != 'hidden' %}
            <label for="{{id}}">{{props.label}}:</label>
        {% endif %}
        <div>
            <input
                class="sInput{{props.valid and props.valid == true ? " sInput--success" : props.valid and props.valid == false ? " sInput--error": ""}}"
                id="{{id}}",
                type="{{props.type}}"
                name="{{props.name}}"
                value="{{props.value}}"
                placeholder="{{props.placeholder}}"
                data-group="{{props.group|default('s')}}"
                data-code="{{props.code|default('')}}"
                {{props.disabled ? 'disabled': ''}}
                {{props.readonly ? readonly : ''}} />
        </div>
    </div>
{% endmacro %}

{% macro TextArea(props) %}
    <div class="sInput sInputTextArea">
        <textarea
            name="{{props.name}}"
            id="{{props.id}}"
            rows="{{props.rows|default(10)}}"
            data-group="{{props.group|default('s')}}"
            placeholder="{{props.placeholder}}">
                {{props.value}}
        </textarea>
    </div>
{% endmacro %}