{% macro MiniProductCard(product) %}
    {% import 'scarfinity/template/components/image-container.twig' as _imageContainer %}
    {% import 'scarfinity/template/components/currency.twig' as _currency %}
    {% import 'scarfinity/template/components/utility/ribbon.twig' as _ribbon %}

    <div 
        class="mini-product-card">
            <div class="mini-product-card__image">
                <a href="{{ props.product.href }}">
                    {{ 
                        _imageContainer.ImageContainer({ 
                            src: product.images[0].popup,
                            alt: product.name,
                            name: product.name
                        }) 
                    }}

            {# <div class="image-container">
                <div class="image-container__dummy"></div>
                <div class="image-container__container">
                    {% if product.images and product.images|length > 1 and swiper %}  
                        <div class="swiper-container" id="product-card-catalog-swiper-{{swiper_id}}">
                            <div class="swiper-wrapper">


                                {% for image in product.images %}
                                <div class="swiper-slide">
                                    <img class="img-responsive" src="{{image.popup}}" alt="{{product.name}}" name="{{product.name}}"/>
                                </div>
                                {% endfor %}
                            </div>
                            <a class="product-card-catalog__image__link" href="{{product.href}}"></a>
                            <div class="product-card-catalog__image__button product-card-catalog__image__button--prev">{{ _icons.ChevronLeft({ size: 14 }) }}</div>
                            <div class="product-card-catalog__image__button product-card-catalog__image__button--next">{{ _icons.ChevronRight({ size: 14 }) }}</div>
                        </div>
                    {% else %}
                        <img class="img-responsive" src="{{product.images[0].popup}}" alt="{{product.name}}" name="{{product.name}}"/>
                        <a class="product-card-catalog__image__link" href="{{product.href}}"></a>
                    {% endif %}
                </div>
            </div> #}


                </a>
            </div>
            <div 
                class="mini-product-card__content">
                    <h4 class="mini-product-card__content__title">
                        <a href="{{ product.href }}">{{ product.name }}</a>
                    </h4> 
                    <div class="mini-product-card__content__pricing">
                        <div class="mini-product-card__content__pricing__price">
                            {{ 
                                _currency.currency(
                                    { 'price': product.price, 'special': product.special }, 
                                    { 'fontSize': 15, 'fontWeight': 600 }) 
                            }}
                        </div>
                        {{ _ribbon.HorisontalRibbon({ type: 'new' }) }}
                    </div>
            </div>
    </div>
{% endmacro %}

{# <h3>{{ heading_title }}</h3>
<div class="row">
 {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p>{{ product.description }}</p>
        {% if product.rating %}
        <div class="rating">
          {% for i in 1..5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% if product.price %}
        <p class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
          {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %}
        </p>
        {% endif %}
      </div>
      <div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div>
    </div>
  </div>
  {% endfor %}
</div> #}