{% macro NavTab(props) %}

	{% set navTabId = props.id|default(random()) %}
	{% set selectedIndex = props.selectedIndex|default(1) %}

	{% if props.tabs and props.tabs|length > 0 %}
		<div class="tab-view">
			<ul id="{{navTabId}}" class="nav nav-tabs">
				{% for tab in props.tabs %}
					{% set id = navTabId ~ '-' ~ tab.id %}
					<li {{loop.index == selectedIndex ? 'class="active"' : ''}}>
						<a
							href="#{{id}}"
							id="a-{{id}}"
							data-toggle="tab">
								{{ tab.title }}
						</a>
					</li>
				{% endfor %}
			</ul>
			<div class="tab-content">
				{% for tab in props.tabs %}
					{% set id = navTabId ~ '-' ~ tab.id %}
					<div 
						id="{{id}}"
						class="tab-pane{{loop.index == selectedIndex ? ' active' : ''}}">
						{% if tab.content %}
							{{ tab.content }}
						{% else %}
							
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}

{% endmacro %}